{% macro is_active(endpoint, active='') %}
    {%- if endpoint == request.endpoint or endpoint == active or active == True -%}
        active
    {%- endif -%}
{% endmacro %}


{% macro topnav(endpoint, name, icon='', id='', active='') %}
<li {% if id %}id="{{ id }}"{% endif %} class="nav-item">
    <a class="nav-link {{ is_active(endpoint, active) }}" href="{{ url_for(endpoint) }}">
        {% if icon %}<i class="{{ icon }}"></i> {% endif %}{{ name }}
    </a>
</li>
{% endmacro %}


{% macro topnavitems(items) %}
{% for item in items %}
    {% if item.content_type == NavigationContentType.link %}
    {{ topnav(item.endpoint, item.name, item.icon, '', item.active) }}
    {% else %}
    {# custom markup provided #}
    {{ item|safe }}
    {% endif %}
{% endfor %}
{% endmacro %}


{% macro navlink(endpoint, name, icon='', active='', urlforkwargs=None) %}
<li class="nav-item">
    <a class="nav-link {{ is_active(endpoint, active) }}" href="{% if urlforkwargs %}{{ url_for(endpoint, **urlforkwargs) }}{% else %}{{ url_for(endpoint) }}{% endif %}">
        {% if icon %}<i class="{{ icon }}"></i> {% endif %} {{ name }}
    </a>
</li>
{% endmacro %}


{% macro navlink_exact(endpoint, name, icon='', active=false, urlforkwargs=None) %}
{# Like navlink, but trusts the given active flag as-is instead of falling
   back to matching request.endpoint - needed when several links share one
   endpoint (e.g. settings tree children distinguished by query args) and
   only one of them should ever be marked active. #}
<li class="nav-item">
    <a class="nav-link {% if active %}active{% endif %}" href="{% if urlforkwargs %}{{ url_for(endpoint, **urlforkwargs) }}{% else %}{{ url_for(endpoint) }}{% endif %}">
        {% if icon %}<i class="{{ icon }}"></i> {% endif %} {{ name }}
    </a>
</li>
{% endmacro %}


{% macro externalnavlink(uri, name, icon='') %}
<li class="nav-item">
    <a class="nav-link" href="{{uri}}">{% if icon %}<i class="{{ icon }}"></i> {% endif %} {{ name }}</a>
</li>
{% endmacro %}


{% macro navtext(text, icon="", cls="") %}
<li{% if cls %} class="{{ cls }}"{% endif %}>{% if icon %}<i class="{{ icon }}"></i> {% endif %}{{ text }}</li>
{% endmacro %}


{% macro navheader(text, icon="", cls="nav-header") %}
{{ navtext(text, icon, cls) }}
{% endmacro %}


{% macro navdivider() %}
<li class="nav-divider"></li>
{% endmacro %}


{% macro navtree(item) %}
<li class="nav-item tree-parent {% if item.active %}expanded{% endif %}">
    <div class="tree-parent-row">
        <a class="nav-link {{ is_active(item.endpoint, item.active) }}" href="{% if item.urlforkwargs %}{{ url_for(item.endpoint, **item.urlforkwargs) }}{% else %}{{ url_for(item.endpoint) }}{% endif %}">
            {% if item.icon %}<i class="{{ item.icon }}"></i> {% endif %} {{ item.name }}
        </a>
        {% if item.children %}
        <button type="button" class="tree-toggle" aria-expanded="{{ 'true' if item.active else 'false' }}" aria-label="{% trans %}Toggle submenu{% endtrans %}">
            <i class="fa fa-chevron-right tree-chevron"></i>
        </button>
        {% endif %}
    </div>
    {% if item.children %}
    <ul class="nav tree-children">
    {% for child in item.children %}
        {% if child.content_type == NavigationContentType.link %}
        {{ navlink_exact(child.endpoint, child.name, child.icon, child.active, child.urlforkwargs) }}
        {% elif child.content_type == NavigationContentType.header %}
        {{ navheader(child.text, child.icon, cls="nav-item nav-header") }}
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}


{% macro sidebar(items, extra_class="") %}
{% if items %}
<ul class="nav {% if extra_class %}{{ extra_class }}{% endif %}">
    {{ sidebaritems(items) }}
</ul>
{% endif %}
{% endmacro %}


{% macro sidebaritems(items) %}
{% for item in items %}
    {% if item.content_type == NavigationContentType.link %}
    {{ navlink(item.endpoint, item.name, item.icon, item.active, item.urlforkwargs) }}
    {% elif item.content_type == NavigationContentType.external_link %}
    {{ externalnavlink(item.uri, item.name, item.icon) }}
    {% elif item.content_type == NavigationContentType.header %}
    {{ navheader(item.text, item.icon, cls="nav-item nav-header") }}
    {% elif item.content_type == NavigationContentType.divider %}
    {{ navdivider() }}
    {% elif item.content_type == NavigationContentType.tree %}
    {{ navtree(item) }}
    {% else %}
    {# skip unknown #}
    {% endif %}
{% endfor %}
{% endmacro %}
