{% set page_title = _("Too Many Requests") %}

{% extends theme("layout.html") %}
{% block content %}

<div class="panel page-panel">
    <div class="panel-body page-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>{% trans %}429 - Too Many Requests{% endtrans %}</h1>
            <p>{% trans %}In order to prevent brute force attacks on accounts we have limited the amount of requests on this route.{% endtrans %}</p>
            <p>Please try again in <strong>{{ timeout }}</strong>.</p>
        </div>
    </div>
</div>

{% endblock %}
