{% set page_title = title %}
{% set active = "management.forums" %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="active">{{ title }}</li>
</ol>
{% endblock %}

{% block management_content %}
{% from theme("macros.html") import render_field, render_submit_field, render_boolean_field, render_select_field, navlink with context %}

<div class="col-md-3 settings-col">
    <div class="nav-sidebar">
        <ul class="nav">
            {{ navlink('management.forums', _("Manage Forums")) }}
            {{ navlink('management.add_forum', _("Add Forum")) }}
            {{ navlink('management.add_category', _("Add Category")) }}
        </ul>
    </div>
</div><!--/.col-md-3 -->

<div class="col-md-9 settings-col with-left-border">
    <div class="panel settings-panel">
        <div class="panel-heading settings-head">
            <span class="fa fa-comment-o"></span> {{ title }}
        </div>
        <div class="panel-body settings-body">
            <div class="settings-content">
                <form class="form-horizontal settings-form" role="form" method="post">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.title) }}
                        {{ render_field(form.description, div_class="col-sm-10 editor", rows="4", placeholder="", **{'data-provide': 'markdown', 'class': 'flaskbb-editor'}) }}
                        {{ render_field(form.category) }}
                        {{ render_field(form.position) }}
                        {{ render_field(form.external) }}
                        {{ render_field(form.moderators) }}
                        {{ render_boolean_field(form.show_moderators) }}
                        {{ render_boolean_field(form.locked) }}
                        {{ render_select_field(form.groups) }}
                        {{ render_submit_field(form.submit, div_class="form-group col-sm-5") }}
                    </div>

                    {% include theme('editor_help.html') %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
