{% set page_title = _("Groups") %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme('macros.html') import render_pagination, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.groups', _("Manage Groups")) }}
        {{ navlink('management.add_group', _("Add Group")) }}
    </ul>
</div>

<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-users"></span> {% trans %}Groups{% endtrans %}
                </div>
                <div class="panel-body management-body"></div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="rowtoggle" class="action-checkall" title="Select All"/></th>
                                <th>#</th>
                                <th>{% trans %}Group Name{% endtrans %}</th>
                                <th>{% trans %}Description{% endtrans %}</th>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-cog" style="margin-right: 0px;"></span> {% trans %}Actions{% endtrans %}
                                        </button>
                                        <ul class="dropdown-menu slidedown">
                                            <li>
                                                <a href="javascript:void(0)" onclick="return bulk_actions.execute('/groups/delete', '{% trans %}Are you sure you want to delete these Groups?{% endtrans %}')">
                                                    <span class="fa fa-trash text-danger"></span> {% trans %}Delete selected Groups{% endtrans %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups.items %}
                            <tr class="action-row">
                                <td><input type="checkbox" name="rowid" class="action-checkbox" value="{{ group.id }}" title="Select Group"/></td>
                                <td>{{ group.id }}</td>
                                <td><a href="#">{{ group.name }}</a></td>
                                <td>{{ group.description }}</td>
                                <td>
                                    <a href="{{ url_for('management.edit_group', group_id = group.id) }}">
                                        <span class="fa fa-pencil text-primary" data-toggle="tooltip" data-placement="top" title="{% trans %}Edit{% endtrans %}"></span>
                                    </a>
                                    <form class="inline-form" id="delete-{{group.id}}" method="post" action="{{ url_for('management.delete_group', group_id=group.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button class="btn btn-link">
                                            <span class="fa fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="{% trans %}Delete{% endtrans %}"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                {{ render_pagination(groups, url_for('management.groups')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    var bulk_actions = new BulkActions();

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock %}
