{% set page_title = title %}
{% set active_management_group_nav=True %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme("macros.html") import render_field, render_boolean_field, render_submit_field, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.groups', _("Manage Groups")) }}
        {{ navlink('management.add_group', _("Add Group")) }}
    </ul>
</div>

<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-user-plus"></span> {{ title }}
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.name) }}
                        {{ render_field(form.description, rows="4", div_class="col-md-12") }}

                        {{ render_boolean_field(form.admin) }}
                        {{ render_boolean_field(form.super_mod) }}

                        {{ render_boolean_field(form.mod) }}
                        {{ render_boolean_field(form.banned) }}
                        {{ render_boolean_field(form.guest) }}

                        {{ render_boolean_field(form.mod_edituser) }}
                        {{ render_boolean_field(form.mod_banuser) }}

                        {{ render_boolean_field(form.editpost) }}
                        {{ render_boolean_field(form.deletepost) }}
                        {{ render_boolean_field(form.deletetopic) }}
                        {{ render_boolean_field(form.posttopic) }}
                        {{ render_boolean_field(form.postreply) }}
                        <div class="row">
                            {{ render_submit_field(form.submit, div_class="col-lg-offset-0 col-lg-9") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
