{% extends theme("layout.html") %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/megalist-multiselect.css') }}" >
{% endblock %}
{% block content %}
{%- from theme('macros.html') import navlink with context -%}

<div class="col-md-12" style="padding-bottom: 10px">
    <ul class="nav nav-tabs nav-justified">
    {% if current_user|is_admin_or_moderator %}
        {{ navlink('management.overview', _('Overview')) }}
        {{ navlink('management.users', _('Users'), active=active_management_user_nav) }}
        {{ navlink('management.unread_reports', _('Reports'), active=active_management_report_nav) }}
    {% endif %}

    {% if is_admin %}
        {{ navlink('management.settings', _('Settings')) }}
        {{ navlink('management.groups', _('Groups'), active=active_management_group_nav) }}
        {{ navlink('management.forums', _('Forums'), active=active_management_forum_nav) }}
        {{ navlink('management.plugins', _('Plugins')) }}
    {% endif %}
    </ul>
</div>

{% block management_content %}{% endblock %}

{% endblock %}
{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/megalist-multiselect.js') }}"></script>
{% endblock %}
