{% extends theme("layout.html") %}

{% block content %}
{%- from theme('_macros/navigation.html') import navlink with context -%}

{% block breadcrumb %}
{% endblock %}

<div class="card card-tabs management">
    <div class="card-header management-header">
        <ul class="nav nav-tabs nav-justified">
        {% for view, text, icon in run_hook('flaskbb_tpl_admin_settings_menu', user=current_user, is_markup=False) %}
            {{ navlink(view, _(text), icon, active) }}
        {% endfor %}
        </ul>
    </div>
    <div class="card-body management-body">
        <div class="row g-0">
        {% block management_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
