{% set page_title = _("Plugins") %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme('macros.html') import render_pagination %}

<legend>{% trans %}Manage Plugins{% endtrans %}</legend>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans %}Plugin{% endtrans %}</th>
            <th>{% trans %}Information{% endtrans %}</th>
            <th>{% trans %}Manage{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for plugin in plugins %}
        <tr>
          <td>
            {% if plugin.website %}
              <a href="{{ plugin.website }}">{{ plugin.name }}</a>
            {% else %}
              {{ plugin.name }}
            {% endif %}
            </td>
            <td>
                {% trans %}Version{% endtrans %}: <i>{{ plugin.version }}</i> <br />
                {{ plugin.description }} <br />
                {% trans %}by{% endtrans %}  <i>{{ plugin.author }}</i>
            </td>
            <td>
                {% if not plugin.enabled %}
                <a href="{{ url_for('management.enable_plugin', plugin=plugin.identifier) }}">{% trans %}Enable{% endtrans %}</a>
                {% else %}
                <a href="{{ url_for('management.disable_plugin', plugin=plugin.identifier) }}">{% trans %}Disable{% endtrans %}</a>
                {% endif %}

                {% set uninstallable = plugin.uninstallable %}
                {% if plugin.installable and not uninstallable %}
                <br />
                <a href="{{ url_for('management.install_plugin', plugin=plugin.identifier) }}">{% trans %}Install{% endtrans %}</a>
                {% endif %}
                {% if uninstallable %}
                <a href="{{ url_for('management.uninstall_plugin', plugin=plugin.identifier) }}">{% trans %}Uninstall{% endtrans %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
