{% set page_title = _("Reports") %}
{% set active_management_report_nav=True %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme('macros.html') import render_pagination, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.unread_reports', _("Show unread reports")) }}
        {{ navlink('management.reports', _("Show all reports")) }}
    </ul>
</div>

<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-flag"></span> {% trans %}All Reports{% endtrans %}
                </div>
                <div class="panel-body management-body"></div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans %}Poster{% endtrans %}</th>
                            <th>{% trans %}Topic{% endtrans %}</th>
                            <th>{% trans %}Reporter{% endtrans %}</th>
                            <th>{% trans %}Reason{% endtrans %}</th>
                            <th>{% trans %}Reported{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports.items %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>{{ report.post.user.username }}</td>
                            <td><a href="{{ url_for('forum.view_post', post_id=report.post.id) }}" target="_blank">{{ report.post.topic.title }}</a></td>
                            <td>{{ report.reporter.username }}</td>
                            <td>{{ report.reason }}</td>
                            <td>{{ report.reported|time_since }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">{% trans %}No reports.{% endtrans %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            {{ render_pagination(reports, url_for('management.reports')) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
