{% set page_title = _("Unread Reports") %}
{% set active_management_report_nav=True %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme('macros.html') import render_pagination, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.unread_reports', _("Show unread reports")) }}
        {{ navlink('management.reports', _("Show all reports")) }}
    </ul>
</div>

<div class="col-md-9">
    <legend>{% trans %}Unread Reports{% endtrans %}</legend>

    <div class="pull-left" style="padding-bottom: 10px">
        {{ render_pagination(reports, url_for('management.unread_reports')) }}
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %}Poster{% endtrans %}</th>
                <th>{% trans %}Topic{% endtrans %}</th>
                <th>{% trans %}Reporter{% endtrans %}</th>
                <th>{% trans %}Reason{% endtrans %}</th>
                <th>{% trans %}Reported{% endtrans %}</th>
                <th>
                    <form class="inline-form" method="post" action="{{ url_for('management.report_markread') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-link">{% trans %}Mark all as Read{% endtrans %}</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports.items %}
            <tr>
                <td><a href="{{ url_for('forum.view_post', post_id=report.post.id) }}" target="_blank">{{ report.id }}</a></td>
                <td>{{ report.post.user.username }}</td>
                <td>{{ report.post.topic.title }}</td>
                <td>{{ report.reporter.username }}</td>
                <td>{{ report.reason }}</td>
                <td>{{ report.reported|time_since }}</td>
                <td>
                    <form class="inline-form" method="post" action="{{ url_for('management.report_markread', report_id=report.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-link">{% trans %}Mark as Read{% endtrans %}</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">{% trans %}No unread reports.{% endtrans %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
