{% set page_title = title %}
{% set active_management_user_nav=True %}

{% extends theme("management/management_layout.html") %}
{% block management_content %}
{% from theme("macros.html") import horizontal_field, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('management.users', _("Manage Users")) }}
        {{ navlink('management.banned_users', _('Banned Users')) }}

        {% if current_user|is_admin %}
            {{ navlink('management.add_user', _("Add User")) }}
        {% endif %}
    </ul>
</div><!--/.col-md-3 -->

<div class="col-md-9">
    <form class="form-horizontal" role="form" method="post">
        {{ form.hidden_tag() }}
        <legend class="">{{ title }}</legend>
            {{ horizontal_field(form.username) }}
            {{ horizontal_field(form.email) }}
            {{ horizontal_field(form.password) }}
            {{ horizontal_field(form.birthday) }}
            {{ horizontal_field(form.gender) }}
            {{ horizontal_field(form.location) }}
            {{ horizontal_field(form.website) }}
            {{ horizontal_field(form.avatar) }}
            {{ horizontal_field(form.primary_group) }}
            {{ horizontal_field(form.secondary_groups) }}
            {{ horizontal_field(form.signature, rows=5, div_class="col-sm-9") }}
            {{ horizontal_field(form.notes, rows=12, div_class="col-sm-9") }}
            {{ horizontal_field(form.submit) }}
    </form>
</div>
{% endblock %}
