{% set page_title = title %}
{% set active = "management.users" %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Manage Users{% endtrans %}</li>
</ol>
{% endblock %}

{% block management_content %}
{%- from theme('_macros/pagination.html') import render_pagination -%}
{%- from theme('_macros/navigation.html') import navlink with context -%}
{%- from theme('_macros/form.html') import horizontal_field -%}
{%- from theme('_macros/utils.html') import avatar_img -%}


<div class="col-md-3 settings-col">
    <div class="nav-sidebar">
        <ul class="nav">
            {{ navlink('management.users', _("Manage Users")) }}
            {{ navlink('management.banned_users', _('Banned Users')) }}

            {% if current_user|is_admin %}
            {{ navlink('management.add_user', _("Add User")) }}
            {% endif %}
        </ul>
    </div>
</div><!--/.col-md-3 -->

<div class="col-md-9 settings-col with-left-border">
    <div class="card settings">
        <div class="card-header settings-header">
            <span class="fa fa-user-plus"></span> {{ title }}
        </div>
        <div class="card-body settings-body">
            <form class="row p-3" role="form" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ run_hook('flaskbb_tpl_form_user_details_before', form=form) }}

                {{ horizontal_field(form.username) }}
                {% if form.email is not none %}
                {{ horizontal_field(form.email) }}
                {% endif %}
                {% if form.password is not none %}
                {{ horizontal_field(form.password) }}
                {% endif %}
                {{ horizontal_field(form.birthday) }}
                {{ horizontal_field(form.gender) }}
                {{ horizontal_field(form.location) }}
                {{ horizontal_field(form.website) }}
                {% if form.primary_group is not none %}
                {{ horizontal_field(form.primary_group) }}
                {% endif %}
                {% if form.secondary_groups is not none %}
                {{ horizontal_field(form.secondary_groups) }}
                {% endif %}
                {% if form.activated is not none %}
                {{ horizontal_field(form.activated, div_class="offset-3 col-4") }}
                {% endif %}
                {{ form.delete_avatar(id="delete_avatar") }}
                {{ horizontal_field(form.avatar, div_class="col-5") }}
                <div class="row mb-3">
                    <div class="offset-3 col-5">
                        <div class="d-flex justify-content-center align-items-center">
                            <label>{% trans %}Current Avatar{% endtrans %}</label>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            {{ avatar_img(user, size=150, class="profilepicture rounded") }}
                        </div>
                        {% if user and user.avatar %}
                        <div class="d-flex justify-content-center align-items-center deleteavatar">
                            <button type="button" class="btn btn-sm">
                                <span class="fas fa-fw fa-trash text-danger"></span>
                                {% trans %}Delete Avatar{% endtrans %}
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {{ horizontal_field(form.signature, rows=4, div_class="col-sm-8") }}
                {{ horizontal_field(form.notes, rows=8, div_class="col-sm-8") }}

                {{ run_hook('flaskbb_tpl_form_user_details_after', form=form) }}

                {{ horizontal_field(form.submit, div_class="offset-3 col-4") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    const defaultAvatar = "{{ url_for('static', filename='avatar100x100.png') }}"

    const deleteAvatarBtn = document.querySelector(".deleteavatar");
    deleteAvatarBtn.addEventListener("click", (e) => {
        e.preventDefault();
        e.stopPropagation();
        const avatarControl = document.getElementById('avatar');
        avatarControl.value = "";

        setTimeout(() => {
            const deleteFlag = document.querySelector('input[name="delete_avatar"]');
            if (deleteFlag) {
                deleteFlag.setAttribute('value', 'true');
                deleteFlag.value = "true";

                // Dispatch event to trick tracking libraries into updating their internal state
                deleteFlag.dispatchEvent(new Event('input', { bubbles: true }));
                deleteFlag.dispatchEvent(new Event('change', { bubbles: true }));
            }
        });

        const profilePicutre = document.querySelector(".profilepicture");
        profilePicutre.setAttribute("src", defaultAvatar);
        deleteAvatarBtn.remove()
    }, { once: true });
</script>
{% endblock %}
