{% set page_title = _("Drafts") %}

{% from theme('macros.html') import render_pagination %}
{% extends theme("message/message_layout.html") %}
{% block message_content %}

<div class="panel panel-default conversation">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title">{% trans %}Saved Conversations{% endtrans %}</h3>
        <span class="label label-info">{{ message_count }}/{{ flaskbb_config["MESSAGE_QUOTA"] }}</span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for conversation in conversations.items %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        {% if conversation.to_user.avatar %}
                        <img src="{{ url_for('conversation.to_user.avatar') }}" class="img-circle img-responsive" alt="" />
                        {% else %}
                        <span class="fa fa-user" style="font-size: 80px; color: #E5E5E5"></span>
                        {% endif %}
                    </div>
                    <div class="col-xs-10 col-md-11">
                        <div>
                            <a href="{{ url_for('message.view_conversation', conversation_id=conversation.id) }}">
                                <strong>{{ conversation.subject }}</strong>
                            </a>
                            <div class="mic-info">
                                To: <a href="#">{{ conversation.to_user.username }}</a> on {{ conversation.date_created|format_date("%d %B %Y - %H:%M") }}
                            </div>
                        </div>
                        <div class="comment-text">
                            {# the first message of conversation is always the starting message #}
                            {{ conversation.messages[0].message }}
                        </div>
                        <div class="action">
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            {% else %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-12">
                        {% trans %}No conversations found.{% endtrans %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{{ render_pagination(conversations, url_for("message.drafts")) }}

{% endblock %}
