{% extends theme("layout.html") %}
{% block content %}
{%- from theme('macros.html') import navlink with context -%}

<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ url_for('user.profile', username=current_user.username) }}">{{ current_user.username }}</a></li>
    <li class="active">{% trans %}Private Message{% endtrans %}</li>
</ol>

<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="sidebar">
            <ul class="nav sidenav">
                <div class="sidenav-btn">
                    <a href="{{ url_for('message.new_conversation') }}" class="btn btn-success">{% trans %}New Message{% endtrans %}</a>
                </div>
                {{ navlink('message.inbox', _('Inbox')) }}
                {{ navlink('message.sent', _('Sent')) }}
                {{ navlink('message.drafts', _('Drafts')) }}
                {{ navlink('message.trash', _('Trash')) }}
            </ul>
        </div><!--/.sidebar -->
    </div><!--/.col-sm-3 -->
    <div class="col-sm-9 col-md-10">
        {% block message_content %}{% endblock %}
    </div><!--/.col-sm-9 -->
</div><!--/.row -->
{% endblock %}
