{% set page_title = _("Trash") %}

{% extends theme("message/message_layout.html") %}
{% block message_content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans %}To{% endtrans %}</th>
            <th>{% trans %}Subject{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Options{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{% if message.to_user %}<a href="{{ url_for('user.profile', username=message.to_user.username) }}">{{ message.to_user.username }}</a>{% else %} ({% trans %}No User{% endtrans %}) {% endif %}</td>
            <td><a href="{{ url_for('user.view_message', message_id=message.id) }}">{% if message.subject %}{{ message.subject }}{% else %}({% trans %}No Subject{% endtrans %}){% endif %}</a></td>
            <td>{{ message.date_created|format_date }}</td>
            <td>
                <a href="{{ url_for('user.restore_message', message_id=message.id) }}">{% trans %}Restore{% endtrans %}</a> |
                <a href="{{ url_for('user.delete_message', message_id=message.id) }}">{% trans %}Delete{% endtrans %}</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                {% trans %}This message folder is empty.{% endtrans %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
