// forum specific values
.forum-panel {
    @include panel-variant($panel-border, $gray, $panel-head-bg, $panel-border);
    margin-bottom: 0;
    .panel-heading {
        font-weight: bold;
    }
}

.forum-panel {
    .forum-body {
        .forum-meta {
            background-color: $panel-meta-bg;
            border-bottom: 1px solid $panel-meta-border;

            .topic-name, .topic-stats, .topic-last-post {
                font-weight: bold;
            }
        }
        .forum-row {
            &:not(:last-child) {
                border-bottom: 1px solid $panel-border;
            }
            .topic-info {
                position: relative;
                .topic-status {
                    float: left;
                    font-size: 1.5em;
                    padding-right: 0.5em;

                    // why is this?
                    .topic-locked {
                        font-size: 1.5em;
                    }

                }
                .topic-name {
                    font-weight: bold;
                }
                .topic-pages {
                    font-weight: normal;
                    font-size: small;
                }
            }
        }
    }
}
