.profile-sidebar {
    padding: 7px 0;

    ul li {
        &:last-child {
            border-bottom: none;
        }

        a {
            color: $navigation-color;
            font-size: 14px;
            font-weight: 400;
            border-left: 2px solid transparent;

            &:hover, &:visited {
                background-color: $author-box-bg;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }

            i {
                margin-right: 8px;
                font-size: 14px;
            }
        }

        &.active {
            a {
                background-color: $author-box-bg;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }
        }
    }
}

.page-body.profile-body {
    background-color: $author-box-bg;
}

.profile-content {
    background-color: #fff;
    border-left: 1px solid $border-color;
    min-height: 32.25em;

    .topic-head {
        font-weight: normal;
    }

    .topic-created {
        font-size: 0.75em;
        padding-bottom: 0.75em;
    }
}

.profile-picture {
    text-align: center;

    img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
}

.profile-sidebar-stats {
    text-shadow: 0 1px 0 #fff;
}

.profile-groupname,
.profile-online,
.profile-location,
.profile-posts,
.profile-date,
.profile-buttons {
    text-align: center;
    margin-top: 0.2em;
}


.profile-groupname {
    text-align: center;
    margin-top: 0.75em;
    color: $fresh-blue;
    font-size: 1.2em;
    font-weight: 600;
}

.profile-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;

    .btn {
        text-shadow: none;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        padding: 6px 15px;
        margin-right: 5px;
    }
}

// conversation specific values
.conversation-panel {
    @include panel-variant($panel-border, $gray, $panel-head-bg, $panel-border);
    margin-bottom: 0;
    .panel-heading {
        font-weight: bold;
    }

    .conversation-body {
        padding: 0;
    }

    .conversation-row {
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:not(:last-child) {
            border-bottom: 1px solid $panel-border;
        }
        &.hover:hover {
            background-color: $panel-hover;
        }
        &.unread {
            background-color: $panel-head-bg;
        }
    }
}

.conversation-panel {
    .conversation-body {
        .row > .conversation-row {
            &:not(:last-child) {
                border-bottom: 1px solid $panel-border;
            }
        }
    }

    .conversation-message {
        min-height: 16em;
        padding: 0.5em;
        border: 1px solid $border-color;
        border-radius: 5px;

        .message-content {
            padding-top: 0.5em;
        }

        .message-footer {
            width: 100%;
            bottom: 0;
            position: absolute;
            .right {
                margin-right: 46px;
                float: right;
            }
            .left {
                float: left;
            }
        }

    }

    @media (min-width: 992px) {
        .arrow:after, .arrow:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: solid transparent;
        }

        .arrow.left:after, .arrow.left:before {
            border-left: 0;
        }

        // Left Arrow
        .arrow.left:before {
            left: 0px;
            top: 40px;
            border-right-color: inherit;
            border-width: 16px;
        }

        .arrow.left:after {
            left: 1px;
            top: 41px;
            border-right-color: #FFFFFF;
            border-width: 15px;
        }

        // Right Arrow
        .arrow.right:before {
            right: -16px;
            top: 40px;
            border-left-color: inherit;
            border-width: 16px;
        }

        .arrow.right:after {
            right: -14px;
            top: 41px;
            border-left-color: #FFFFFF;
            border-width: 15px;
        }
    }
}

.conversation-reply {
    padding-top: 2em;
}
