body {
    background-color: #E8F1F2;
}

.flaskbb-layout {
    padding-top: 20px;
    color: #5a5a5a;
}

.flaskbb-header {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #3276b1;
    background-image: -webkit-linear-gradient(top, #285e8e 0%, #3276b1 100%);
    background-image: linear-gradient(to bottom, #285e8e 0%, #3276b1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285e8e', endColorstr='#3276b1', GradientType=0);
    border: 1px solid #cad7e1;
    border-bottom: 0;
    border-radius: 0.25em 0.25em 0 0;

    position: relative;
    height: 12em;
    padding: 2.5em 2em;
    margin-top: 2.5em;

    .flaskbb-meta {
        .flaskbb-title {
            color: #fff;
            font-size: 3em;
            font-weight: bold;
        }
        .flaskbb-subtitle {
            color: #e8ecf1;
        }
    }
}

.forum-navigation {
    border: 1px solid #cad7e1;
    border-radius: 0 0 0.25em 0.25em;
    .navbar-nav .user-btn {
        padding-right: 2em;
        padding-left: 1em;
    }


    .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

}

.flaskbb-breadcrumb {
    border: 1px solid #cad7e1;
    border-radius: 0;
}
