html {
    // push footer to bottom
    position: relative;
    min-height: 100%;
}

body {
    background-color: #E8F1F2;
    // Margin bottom by footer height
    margin-bottom: 60px;
}

.flaskbb-footer {
    position: absolute;
    bottom: 0;
    // Set the fixed height of the footer here
    height: 60px;
    // use the same width as container
    width: inherit;
    padding-top: 1em;
}

.flaskbb-layout {
    padding-top: 20px;
    color: #5a5a5a;
}

.flaskbb-header {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #3276b1;
    background-image: -webkit-linear-gradient(top, #285e8e 0%, #3276b1 100%);
    background-image: linear-gradient(to bottom, #285e8e 0%, #3276b1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285e8e', endColorstr='#3276b1', GradientType=0);
    border: 1px solid #cad7e1;
    border-bottom: 0;
    border-radius: 0.25em 0.25em 0 0;

    position: relative;
    height: 12em;
    padding: 2.5em 2em;
    margin-top: 2.5em;

    .flaskbb-meta {
        .flaskbb-title {
            color: #fff;
            font-size: 3em;
            font-weight: bold;
        }
        .flaskbb-subtitle {
            color: #e8ecf1;
        }
    }
}

.forum-navigation {
    border: 1px solid #cad7e1;
    border-radius: 0 0 0.25em 0.25em;

    .navbar-nav .user-btn {
        padding-right: 2em;
        padding-left: 1em;
    }

    .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

}

.flaskbb-breadcrumb {
    border: 1px solid #cad7e1;
    border-radius: 0;
}


.index-view, .forum-view, .topic-view {
    .forum-row, .category-row, .post-row {
        margin: 0;
    }
}

// default values for the panels
.category-panel, .forum-panel, .topic-panel, .widget-panel {
    border: 1px solid #cad7e1;
    border-radius: 0;
    margin-bottom: 0;
    .category-head, .forum-head, .topic-head, .widget-head {
        font-weight: bold;
    }
}

.category-body, .forum-body, .topic-body, .widget-body {
    padding: 0;
    .category-meta, .forum-meta, .topic-meta, .widget-meta {
        padding-top: 0.5em;
        height: 2.5em;
        background-color: #e8ecf1;
        border-bottom: 1px solid #cad7e1;
    }
    .category-row, .forum-row, .topic-row, .widget-row, .post-row {
        margin-top: 0.5em;
        padding-bottom: 0.5em;
        &:not(:last-child) {
            border-bottom: 1px solid #cad7e1;
        }
    }
}

// Topic
.topic-body {
    .post-row {
        margin-top: 0;
        padding-bottom: 0;
        .post-author {
            padding-left: 0.5em;
            padding-bottom: 0.5em;
            background-color: #e8ecf1;
        }

        .post-meta {
            padding-top: 0.5em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            border-bottom: 1px solid #e8ecf1;
        }

        .post-box {
            padding-left: 0;
            padding-right: 0;
            .post-content {
                padding-top: 0.5em;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
        }

        .post-footer {
            width: 100%;
            height: 100%;
            border-top: 1px solid #e8ecf1;

            .post-signature {
                padding-left: 0.5em;
            }

            .post-controls {
                padding-left: 0;

                .inline-form {
                    padding: 6px 12px;
                }
            }
        }
    }
}

// forum specific values
.forum-body {
    .forum-meta {
        .topic-name, .topic-stats, .topic-last-post {
            font-weight: bold;
        }
    }
    .forum-row {
        .topic-info {
            position: relative;
            .topic-status {
                float: left;
                font-size: 1em;
                padding-right: 0.75em;
            }
            .topic-name {
                font-weight: bold;
            }
            .topic-pages {
                font-size: small;
            }
        }
    }
}

// category specific values
.category-body {
    .category-meta, {
        .forum-name, .forum-stats, .forum-last-post {
            font-weight: bold;
        }
    }
    .category-row {
        .forum-info {
            position: relative;
            .forum-status {
                float: left;
                font-size: 2em;
                padding-right: 0.5em;
            }
            .forum-name {
                font-weight: bold;
            }
            .forum-moderators {
                font-style: italic;
            }
        }
        .forum-last-post {
            .last-post-title {
                font-weight: bold;
            }
        }
    }
}


p.flaskbb-stats {
    margin: 0;
    padding: 0;
}

.controls-row {
    padding: 0.5em 0;
    margin: 0;

    .pagination {
        padding: 0;
        margin: 0;
    }
}

.controls-col {
    margin: 0;
    padding: 0;
}

.inline-form {
    display: inline;
    padding: 0px;
}

.inline-form .btn-link {
    padding: 0px;
}

.dropdown-messages {
    min-width: 15em;
    .message-subject {
        font-style: italic;
    }
    .author-name {
        font-weight: bold;
    }
}


.editor {
    padding: 0;
    min-height: 0;
}

.editor > .md-editor {
    &.active {
        border-color: none;
        box-shadow: none;
    }

    & > .md-footer, & >.md-header {
        background: #F6F9FC;
    }

    & >textarea {
        border-top: 1px solid #cad7e1;
        border-bottom: none;
        background: #fff;
        padding-left: 3px;
    }

    & >.md-preview {
        border-top: 1px solid #cad7e1;
        border-right: 1px solid #cad7e1;
        border-bottom: none;
        background: #eee;
    }
}
