// bootstrap colros
$blue: #337ab7;
$fresh-blue: #0088cc;
$light-blue: #5bc0de;
$green: #5cb85c;
$dark-green: #3C763D;
$orange: #f0ad4e;
$red: #d9534f;
$gray: #555;

// main background and font colors
$background-color: #e8f1f2;
$font-color: #5a5a5a;
$border-color: #cad7e1;

// header colors
$header-title-font-color: #fff;
$header-subtitle-font-color: #E8F1F2;
$header-background-primary: #0088cc;  // old: #3276b1
$header-background-secondary: #285e8e;

// navigation
$navigation-font-color: #555;
$navigation-hover-color: #e7e7e7;
$navigation-background-color: #f8f8f8;

// panel colors
$panel-background: #fff;            // panel body background
$panel-head-background: #f5f5f5;    // panel head background
$panel-meta-background: #e8f1f2;    // panel meta background
$panel-meta-border: #cad7e1;  // panel meta (bottom) border
$panel-border: #cad7e1;       // panel border (all over)
$panel-hover: #f8f8f8;

$page-panel: $panel-background;
$page-head-background: $panel-head-background;
$page-meta-background: $panel-meta-background;
$page-meta-border: $panel-border;
$page-border: $panel-border;

$category-panel: $panel-background;
$category-head-background: $panel-head-background;
$category-meta-background: $panel-meta-background;
$category-meta-border: $panel-border;
$category-border: $panel-border;

$forum-panel: $panel-background;
$forum-head-background: $panel-head-background;
$forum-meta-background: $panel-meta-background;
$forum-meta-border: $panel-border;
$forum-border: $panel-border;

$topic-head-background: $panel-head-background;
$topic-border: $panel-border;

// post colors
$post-box-background: $panel-background;
$post-box-border: $border-color;
$post-meta-border: $panel-meta-background;
$post-meta-background: $panel-background;
$post-signature-border: $panel-meta-background;
$post-footer-border: $border-color;
$post-footer-background: $panel-background;

$author-box-background: #e8ecf1;
$author-online: $green;
$author-offline: $gray;


html {
    // push footer to bottom
    position: relative;
    min-height: 100%;
}

body {
    background-color: $background-color;
    // Margin bottom by footer height
    margin-bottom: 60px;
}

.flaskbb-footer {
    position: absolute;
    bottom: 0;
    // Set the fixed height of the footer here
    height: 60px;
    width: 100%;
    // use the same width as container
    padding-top: 1em;
}

.flaskbb-layout {
    padding-top: 20px;
    color: $font-color;
}

.flaskbb-header {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: $header-background-primary;
    background-image: -webkit-linear-gradient(top, $header-background-secondary 0%, $header-background-primary 100%);
    background-image: linear-gradient(to bottom, $header-background-secondary 0%, $header-background-primary 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-background-secondary', endColorstr='$header-background-primary', GradientType=0);
    border: 1px solid $border-color;
    border-bottom: 0;
    border-radius: 0.25em 0.25em 0 0;

    position: relative;
    height: 12em;
    padding: 2.5em 2em;
    margin-top: 2.5em;

    .flaskbb-meta {
        .flaskbb-title {
            color: $header-title-font-color;
            font-size: 3em;
            font-weight: bold;
        }
        .flaskbb-subtitle {
            color: $header-subtitle-font-color;
        }
    }
}

.forum-navigation {
    border: 1px solid $border-color;
    border-radius: 0 0 0.25em 0.25em;
    background-color: $navigation-background-color;
    .navbar-btn {
        // fix for button in <a>
        &>a.btn-primary {
          color: #fff;
          background-color: #337ab7;
          border-color: #2e6da4;
        }
        &>a.btn-primary:focus {
          color: #fff;
          background-color: #286090;
          border-color: #122b40;
        }
        &>a.btn-primary:hover {
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }

    }

    .navbar-nav .user-btn {
        padding-right: 2em;
        padding-left: 1em;
    }

    .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: $navigation-font-color;
        background-color: $navigation-hover-color;
    }
}

.flaskbb-breadcrumb {
    border: 1px solid $border-color;
    border-radius: 0;
}


// they don't have a purpose at the moment.. but this might change
.index-view, .forum-view, .topic-view, .page-view {
}



// default values for the panels
.category-panel, .forum-panel, .topic-panel, .page-panel, .conversation-panel, .management-panel {
    border: 1px solid $panel-border;
    border-radius: 0;
    .category-head, .forum-head, .topic-head, .page-head, .conversation-head, .management-head {
        background-color: $panel-head-background;
        font-weight: bold;
    }
    & > .panel-heading {
      color: #333;
      background-color: $panel-head-background;
      border-color: $panel-border;
    }

    & > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: $panel-border;
    }

    & > .panel-heading .badge {
      color: $panel-head-background;
      background-color: #333;
    }

    & > .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: $panel-border;
    }

}

.category-body, .forum-body, .topic-body, .page-body, .conversation-body {
    padding: 0;
    background-color: $panel-background;
    .category-meta, .forum-meta, .topic-meta, .page-meta {
        font-weight: bold;
        padding-top: 0.5em;
        height: 2.5em;
        background-color: $panel-meta-background;
        border-bottom: 1px solid $panel-meta-border;
    }
    .category-row, .forum-row, .topic-row, .page-row, .post-row, .conversation-row {
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:not(:last-child) {
            border-bottom: 1px solid $panel-border;
        }
        &.hover:hover {
            background-color: $panel-hover;
        }
    }
}


// Topic
.topic-panel {
    margin-bottom: 0;
}

.topic-body {
    .post-row {
        background: $author-box-background;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        &:not(:last-child) {
            border-bottom: 1px solid $topic-border;
        }
    }

    .post-box {
        background: $post-box-background;
        border-left: 1px solid $post-box-border;
        padding-bottom: 3em;
        padding-left: 0;
        padding-right: 0;
        min-height: 19em;
        position: relative;

        &.post-horizontal {
            border-left: none;
            min-height: 14em;
        }

        // post meta information
        .post-meta {
            padding-top: 0.5em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin: 0;
            background-color: $post-meta-background;
            border-bottom: 1px solid $post-meta-border;
        }

        // post content
        .post-content {
            padding-left: 0.5em;
            padding-right: 0.5em;
            padding-top: 0.5em;

            // scale larger (than the div) images to the size of the div
            img {
                max-width:100%;
                max-height:100%;
            }
        }

        .post-signature {
            margin-top: 2em;
            hr {
                height: 1px;
                color: $post-signature-border;
                background-color: $post-signature-border;
                border: none;
                margin: 0;
                width: 25%;
            }
        }
        // post footer
        .post-footer {
            border-top: 1px solid $post-footer-border;
            background-color: $post-footer-background;
            width: 100%;
            left: 0;
            // push to bottom
            bottom: 0;
            position: absolute;

            .post-menu {
                padding-left: 0;

                .btn-icon:hover {
                    background-color: $panel-hover;
                }

            }
        }

    }
}


// author
.author {
    text-shadow: 0px 1px 0px #fff;

    // probably not the best name but i couldn't come up with a better one
    &.author-horizontal {
        min-height: 9em;
        border-bottom: 1px solid $post-box-border;
        .author-box {
            float: left;
            margin-top: 0.5em;
            .author-avatar {
                margin-top: 0em;
                margin-right: 1em;
            }
            .author-online, .author-offline {
                margin-top: 0.5em;
            }
            .author-name {
                margin-top: -0.5em;
            }
        }
    }

    .author-name h4 {
        float: left;
        margin-bottom: 0;
    }

    .author-title h5 {
        margin-top: 0;
        font-weight: 600;
        clear: both;
    }

    .author-avatar {
        margin: 0.5em 0;

        img {
            border-radius: 0.25em;
            height: auto;
            width: 8em;
        }
    }

    .author-online, .author-offline {
        margin-top: 0.75em;
        margin-left: 0.25em;
        float: left;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
    }

    .author-online {
        background: $author-online;
    }

    .author-offline {
        background: $author-offline;
    }
}

.profile-picture {
    margin: 0.5em 0;

    img {
        border-radius: 0.25em;
        height: auto;
        width: 8em;
    }
}

// forum specific values
.forum-panel {
    border: 1px solid $forum-border;
    margin-bottom: 0;

    .forum-head {
        background-color: $forum-head-background;
    }
    .forum-body {
        background-color: $forum-panel;

        .forum-meta {
            background-color: $forum-meta-background;
            border-bottom: 1px solid $forum-meta-border;

            .topic-name, .topic-stats, .topic-last-post {
                font-weight: bold;
            }
        }
        .forum-row {
            &:not(:last-child) {
                border-bottom: 1px solid $forum-border;
            }
            .topic-info {
                position: relative;
                .topic-status {
                    float: left;
                    font-size: 1.5em;
                    padding-right: 0.5em;

                    // why is this?
                    .topic-locked {
                        font-size: 1.5em;
                    }

                }
                .topic-name {
                    font-weight: bold;
                }
                .topic-pages {
                    font-weight: normal;
                    font-size: small;
                }
            }
        }
    }
}


// category specific values
.category-panel {
    border: 1px solid $category-border;

    .category-head {
        background-color: $category-head-background;
    }
    .category-body {
        background-color: $category-panel;

        .category-meta {
            background-color: $category-meta-background;
            border-bottom: 1px solid $category-meta-border;

            .forum-name, .forum-stats, .forum-last-post {
                font-weight: bold;
            }
        }
        .category-row {
            &:not(:last-child) {
                border-bottom: 1px solid $category-border;
            }
            .forum-info {
                position: relative;
                .forum-status {
                    float: left;
                    font-size: 2em;
                    padding-right: 0.5em;
                }
                .forum-name {
                    font-weight: bold;
                }
                .forum-moderators {
                    font-style: italic;
                }
            }
            .forum-last-post {
                .last-post-title {
                    font-weight: bold;
                }
            }
        }
    }
}


// widget specific values
.page-panel {
    border: 1px solid $page-border;

    .page-head {
        background-color: $page-head-background;
    }
    .page-body {
        background-color: $page-panel;
        .page-meta {
            background-color: $page-meta-background;
            border-bottom: 1px solid $page-meta-border;
        }
        .row > .page-row {
            &:not(:last-child) {
                border-bottom: 1px solid $page-border;
            }
        }
        // if no meta information is to show, reset padding-top
        & > :not(.page-meta) {
            padding-top: 0.5em;
        }
    }
}

// conversation specific values
.conversation-panel {
    border: 1px solid $page-border;
    margin-bottom: 0;

    .conversation-head {
        background-color: $page-head-background;
    }
    .conversation-body {
        background-color: $page-panel;
        .row > .conversation-row {
            &:not(:last-child) {
                border-bottom: 1px solid $page-border;
            }
        }
    }
    .conversation-message {
        min-height: 16em;
        padding: 0.5em;
        border: 1px solid $border-color;
        border-radius: 5px;

        .message-content {
            padding-top: 0.5em;
        }

        .message-footer {
            width: 100%;
            bottom: 0;
            position: absolute;
            .right {
                margin-right: 46px;
                float: right;
            }
            .left {
                float: left;
            }
        }

    }
    @media (min-width: 992px) {
        .arrow:after, .arrow:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: solid transparent;
        }
        .arrow.left:after, .arrow.left:before {
            border-left: 0;
        }

        // Left Arrow
        .arrow.left:before {
            left: 0px;
            top: 40px;
            border-right-color: inherit;
            border-width: 16px;
        }

        .arrow.left:after {
            left: 1px;
            top: 41px;
            border-right-color: #FFFFFF;
            border-width: 15px;
        }

        // Right Arrow
        .arrow.right:before {
            right: -16px;
            top: 40px;
            border-left-color: inherit;
            border-width: 16px;
        }
        .arrow.right:after {
            right: -14px;
            top: 41px;
            border-left-color: #FFFFFF;
            border-width: 15px;
        }
    }

}

.conversation-reply {
    padding-top: 2em;
}

// Management Panel
.management-panel {

    .search-form {
        display: none;
        padding: 15px;
    }

    // overwrite default
    .category-head {
        font-weight: normal;
    }

    .management-head {
        border-radius: 0;
        background-color: $blue;
    }
    .management-body {
        border-radius: 0;
        padding: 0;
        .panel.settings-panel {
            border: none;
            margin-bottom: 0;

            .settings-head {
                border-radius: 0;
                background-color: $panel-hover;
                border-bottom: 1px solid $border-color;
            }
            .settings-body {
                padding: 0;
                .settings-form {
                    padding-top: 10px;
                }
            }

            .settings-meta {
                background-color: $panel-meta-background;
                margin: 0;
                padding: 5px 0 5px 0;
                border-bottom: 1px solid $border-color;
                .meta-item {
                    font-weight: bold;
                }
            }
            .settings-content > .category-panel {
                border-left: none;
                border-right: none;
                border-bottom: none;
                margin-bottom: 0;
                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: 1px solid $category-border;
                    margin-bottom: 1em;
                }
            }
            .settings-row {
                padding: 5px 0 5px 0;
                margin: 0;

                &:last-child {
                    padding-bottom: 10px;
                    border-bottom: none !important;
                }

                &.hover:hover {
                    background-color: $panel-hover;
                }

                .btn-icon {
                    padding: 0 6px;
                }
            }

            .settings-footer {
                padding-top: 5px;
                padding-left: 5px;
                padding-bottom: 0px;
                .pagination {
                    margin: 0;
                }
            }
        }
    }
}

.with-left-border {
    border-left: 1px solid $border-color;
}

.with-border-bottom {
    border-bottom: 1px solid $border-color;
}

p.flaskbb-stats {
    margin: 0;
    padding: 0;
}

.controls-row {
    padding: 0.5em 0;
    margin: 0;

    .pagination {
        padding: 0;
        margin: 0;
    }
}

.controls-col {
    margin: 0;
    padding: 0;
}

.settings-col {
    padding: 0;
}

.inline-form {
    display: inline;
}

// a "link" that is actually a button
.btn.btn-link {
    border: none;
    color: #337ab7;
    text-decoration: none;
    padding: 0;
    // for some (yet for me unkown) reasons this required to be on the same
    // height as for normal links (happens when using the inline-forms)
    margin-bottom: 2px;

    &:focus, &:hover {
    color: #23527c;
    text-decoration: underline;
}
}

.btn-icon {
    font-family: 'FontAwesome';
    font-size: 1.15em;
    line-height: 1.50em;
    font-weight: normal;
    background: none;
    border-radius: 0;
}

.icon-delete:before {
    content: "\f014";
    color: $red;
}

.icon-report:before {
    content: "\f024";
    color: $orange;
}

.icon-edit:before {
    content: "\f040";
    color: $green;
}

.icon-reply:before {
    content: "\f10e";
    color: $blue;
}

.icon-replyall:before {
    content: "\f122";
    color: $light-blue;
}

.dropdown-messages {
    min-width: 15em;
    .message-subject {
        font-style: italic;
    }
    .author-name {
        font-weight: bold;
    }
}


// apply the same changes as for "a" for the btn-link
.dropdown-menu {
    & > li .btn-link {
        display: block;
        padding: 3px 20px;
        width: 100%;
        text-align: left;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;

        &:hover, &:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }

    & > .active {
        .btn-link, .btn-link:hover, .btn-link:focus {
            color: #fff;
            text-decoration: none;
            background-color: #337ab7;
            outline: 0;
        }
    }

    & > .disabled {
        .btn-link, .btn-link:hover, .btn-link:focus {
            color: #777;
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        }
    }
}


/* Sidebar Nav */
.sidebar {
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: none;
    background-color: $navigation-background-color;
    border: 1px solid $border-color;

    .sidenav-header {
        display: block;
        padding-left: 1.25em;
        padding-bottom: 1em;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        color: #999999;
        text-transform: uppercase;
    }

    .sidenav-btn {
        padding-bottom: 1em;
        text-transform: uppercase;
        text-align: center;
    }

    .nav > li > a {
        display: block;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: $navigation-hover-color;
    }

    .nav > .active > a,
    .nav > .active:hover > a,
    .nav > .active:focus > a {
        font-weight: normal;
        color: #777;
        background-color: $navigation-hover-color;
    }
}

.nav-sidebar {
    width: 100%;
    padding: 0;
    a {
        color: $navigation-font-color;
        border-radius: 0;
    }
    .active a {
        cursor: default;
        background-color: $navigation-background-color;
        color: $navigation-font-color;
    }

    li.active {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        &:first-child {
            border-top: none;
        }
    }
    .active a:hover {
        background-color: $navigation-background-color;
    }
}


/* Panel tabs */
.panel {
    &.panel-tabs {
        > .panel-heading {
            padding: 0;
            font-weight: 500;
        }
        .nav-tabs {
            border-bottom: none;
        }
        .nav-justified {
            //padding-bottom: 1px;
            margin-bottom: -1px;
        }
    }
}

.panel-tabs {
    .nav-tabs {
        &.nav-justified > li > a {
        }
        // non-active and hover
        > li {
            a {
                color: $header-subtitle-font-color;
                border: 1px solid $blue;

                // different background color when hovering
                &:hover, &:focus {
                    background-color: $fresh-blue;
                    border: 1px solid $fresh-blue;
                    border-radius: 0;
                }
            }
        }
        // active and hover
        > li.active {
            a, a:hover, a:focus {
                color: $header-title-font-color;
                background-color: $fresh-blue;
                border: 1px solid $fresh-blue;
                border-radius: 0;
            }
        }
    }
}


/* Markdown Editor */
.editor-box .editor-submit .btn {
    margin: 0.75em 0.25em 0 0;
}

.editor-box > .quickreply {
    padding: 0;
}

.editor {
    min-height: 0;

    .editor-options {
        margin-top: 0.5em;
    }

    .new-message {
        background: #fff;
        border: 0;
        height: 12em;
        outline: none;
        width: 100%
    }
}

.editor > .md-editor {
    &.active {
        border-color: transparent;
        box-shadow: none;
    }

    & > .md-footer, & >.md-header {
        background: $navigation-background-color;
    }

    & >textarea {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1em;
        border-top: 1px solid $border-color;
        border-bottom: none;
        background: #fff;
        padding: 0 0.25em;
    }

    & >.md-preview {
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: none;
        padding: 0 0.25em;
        background: #eee;
    }
}

.emoji {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.stats {
    margin-top: 15px;
    margin-bottom: 15px;
    .stats-widget {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        //background-color: $panel-hover;
        border: 1px solid $border-color;

        .icon {
            display: block;
            font-size: 96px;
            line-height: 96px;
            margin-bottom: 10px;
            text-align: center;
        }
        var {
            display: block;
            height: 64px;
            font-size: 64px;
            line-height: 64px;
            font-style: normal;
        }
        label {
            font-size: 17px;
        }
        .options {
            margin-top: 10px;
        }
    }

    .stats-heading {
        font-size: 1.25em;
        font-weight: bold;
        margin: 0;
        border-bottom: 1px solid $border-color;
    }

    .stats-row {
        margin: 0 0 15px 0;
        padding-bottom: 15px;
        //border-bottom: 1px solid $border-color;

        .stats-item {
            margin: 0;
            padding-top: 5px;
        }

        &:last-child {
            border: none;
        }
    }
}

.alert-message {
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $dark-green;
    border-left: 3px solid #eee;
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    code {
        background-color: #fff;
        border-radius: 3px;
    }

    &.alert-message-success {
        background-color: #F4FDF0;
        border-color: $dark-green;
    }
    &.alert-message-success h4 {
        color: $dark-green;
    }
    &.alert-message-danger {
        background-color: #fdf7f7;
        border-color: $red;
    }
    &.alert-message-danger h4 {
        color: $red;
    }
    &.alert-message-warning {
        background-color: #fcf8f2;
        border-color: $orange;
    }
    &.alert-message-warning h4 {
        color: $orange;
    }
    &.alert-message-info {
        background-color: #f4f8fa;
        border-color: $light-blue;
    }
    &.alert-message-info h4 {
        color: $light-blue;
    }
    &.alert-message-default {
        background-color: #EEE;
        border-color: $gray;
    }
    &.alert-message-default h4 {
        color: #000;
    }
    &.alert-message-notice {
        background-color: #FCFCDD;
        border-color: #BDBD89;
    }
    &.alert-message-notice h4 {
        color: #444;
    }
}


.page-body.profile-body {
    background-color: $author-box-background;
}

.profile-content {
    background-color: #fff;
    border-left: 1px solid $border-color;
    min-height: 32.25em;

    .topic-head {
        font-weight: normal;
    }

    .topic-created {
        font-size: 0.75em;
        padding-bottom: 0.75em;
    }
}

.profile-picture {
    text-align: center;

    img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

}

.profile-signature {

}

.profile-sidebar-stats {
    text-shadow: 0 1px 0 #fff;
}

.profile-groupname, .profile-online, .profile-location,
.profile-posts, .profile-date, .profile-buttons {
    text-align: center;
    margin-top: 0.2em;
}


.profile-groupname {
    text-align: center;
    margin-top: 0.75em;
    color: $fresh-blue;
    font-size: 1.2em;
    font-weight: 600;
}

.profile-buttons {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;

    .btn {
        text-shadow: none;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        padding: 6px 15px;
        margin-right: 5px;
    }

}

.profile-sidebar {
    padding: 7px 0;
    //border-right: 1px solid $border-color;
    //background-color: $author-box-background;

    ul li {
        &:last-child {
            border-bottom: none;
        }

        a {
            color: $navigation-font-color;
            font-size: 14px;
            font-weight: 400;
            border-left: 2px solid transparent;

            &:hover {
                background-color: $author-box-background;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }

            i {
                margin-right: 8px;
                font-size: 14px;
            }
        }

        &.active {
            a {
                background-color: $author-box-background;
                border-right: 2px solid $fresh-blue;
                border-left: 2px solid $fresh-blue;
            }

        }
    }

}
