# .coveragerc to control coverage.py
[run]
branch = true
source = flaskbb
omit =
    flaskbb/_compat.py
    flaskbb/configs/*
parallel = true

[paths]
source =
    flaskbb/
    .tox/*/lib/*/site-packages/flaskbb/


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    @abstractmethod

ignore_errors = True
precision = 2
show_missing = true

[html]
directory = tests/htmlcov
