.git
.github
.tx
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.coverage*
**/__pycache__
**/*.py[cod]
**/node_modules
**/.sass-cache
docs/_build
docker/.env
instance
logs
search_index
*.sqlite*
flaskbb.cfg
