include LICENSE
include AUTHORS
include CHANGES
include README.md
include CONTRIBUTING.md
include NOTICE
include celery_worker.py
include wsgi.py
include babel.cfg
include pytest.ini
include setup.cfg
include requirements.txt
include requirements-dev.txt

graft flaskbb
graft tests
graft migrations

prune flaskbb/themes/*/node_modules
prune flaskbb/themes/*/.sass-cache
prune flaskbb/themes/*/src/*

global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.sw[a-z]
