alembic>=1.6.5
attrs>=21.2.0
Babel>=2.9.1
blinker>=1.4
celery>=5.1.2
click>=7.1.2
click-log>=0.3.2
click-plugins>=1.1.1
click-repl>=0.2.0
Flask>=2.0.1
Flask-Alembic>=2.0.1
flask-allows @ git+https://github.com/flaskbb/flask-allows.git@master#egg=flask-allows
Flask-BabelPlus>=2.2.0
Flask-Caching>=1.10.1
Flask-DebugToolbar>=0.11.0
flask-debugtoolbar-warnings>=0.1.0
Flask-Limiter>=1.4
Flask-Login>=0.5.0
Flask-Mail>=0.9.1
flask-redis>=0.4.0
Flask-SQLAlchemy>=2.5.1
Flask-Themes2>=1.0.0
flask-whooshee>=0.8.1
Flask-WTF>=0.15.1
flaskbb-plugin-conversations>=1.1.0
flaskbb-plugin-portal>=1.2.0
Jinja2>=3.0.1
MarkupSafe>=2.0.1
mistune>=0.8.4
Pillow>=8.3.1
pluggy>=0.13.1
Pygments>=2.9.0
SQLAlchemy>=1.4.21
SQLAlchemy-Utils>=0.37.8
Werkzeug>=2.0.1
Whoosh>=2.7.4
WTForms>=2.3.3
WTForms-SQLAlchemy>=0.2
-e .
