alembic==0.7.3
Babel==1.3
blinker==1.3
cov-core==1.15.0
coverage==3.7.1
Flask==0.10.1
Flask-Cache==0.13.1
Flask-DebugToolbar==0.9.2
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==1.3.0
Flask-Plugins==1.5
Flask-Redis==0.0.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-Themes2==0.1.3
Flask-WTF==0.10.3
itsdangerous==0.24
Jinja2==2.7.3
Mako==1.0.0
markdown2==2.3.0
MarkupSafe==0.23
py==1.4.26
Pygments==2.0.1
pytest==2.6.4
pytest-cov==1.8.1
pytest-random==0.2
pytz==2014.10
redis==2.10.3
simplejson==3.6.5
speaklater==1.3
SQLAlchemy==0.9.8
Unidecode==0.4.17
Werkzeug==0.9.6
Whoosh==2.6.0
WTForms==2.0.1
requests==2.5.3
https://github.com/sh4nks/flask-babelex/tarball/master#egg=Flask-BabelEx
https://github.com/frol/postmarkup/tarball/master#egg=postmarkup
https://github.com/jshipley/Flask-WhooshAlchemy/archive/master.zip#egg=Flask-Whooshalchemy
