alembic==1.8.0
amqp==5.1.1
attrs==21.4.0
Babel==2.10.1
billiard==3.6.4.0
blinker==1.4
celery==5.2.7
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-log==0.4.0
click-plugins==1.1.1
click-repl==0.2.0
dnspython==2.2.1
email-validator==1.2.1
Flask==2.1.2
Flask-Alembic==2.0.1
flask-allows @ git+https://github.com/flaskbb/flask-allows.git@master#egg=flask-allows
Flask-BabelPlus==2.2.0
Flask-Caching==1.10.1
Flask-DebugToolbar==0.13.1
flask-debugtoolbar-warnings==0.1.0
Flask-Limiter==2.4.6
Flask-Login==0.6.1
Flask-Mail==0.9.1
flask-redis==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Themes2==1.0.0
flask-whooshee==0.8.2
Flask-WTF==1.0.1
flaskbb-plugin-conversations==1.1.1
flaskbb-plugin-portal==1.2.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.2.4
limits==2.6.3
Mako==1.2.0
MarkupSafe==2.1.1
mistune==2.0.2
Pillow==9.3.0
pluggy==1.0.0
prompt-toolkit==3.0.29
Pygments==2.12.0
PyJWT==2.4.0
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.1
redis==4.3.3
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.37
SQLAlchemy-Utils==0.38.2
Unidecode==1.3.4
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.1.2
Whoosh==2.7.4
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
-e .
