// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Import fontawesome icons
@import "node_modules/font-awesome/scss/font-awesome";

// Import FlaskBB theme
@import "aurora";

// Import the Bootstrap-Markdown editor
@import "node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
