<div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">{% trans %}Are you sure?{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>{% trans %}Are you sure that you want to perform this action? This action is irreversible.{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="button" class="btn btn-danger confirmBtn">{% trans %}Yes{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
