{% set page_title = _("Reset Password") %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("macros.html") import horizontal_field %}

<form class="form-horizontal" role="form" method="POST">
    <h2>{% trans %}Reset Password{% endtrans %}</h2>
    <hr>
        {{ form.hidden_tag() }}
        {{ form.token }}
        {{ horizontal_field(form.email) }}
        {{ horizontal_field(form.password) }}
        {{ horizontal_field(form.confirm_password)}}
        {{ horizontal_field(form.submit)}}
</form>

{% endblock %}
