{% set page_title = forum.title %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, topic_pages %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ forum.category.url }}">{{ forum.category.title }}</a></li>
    <li class="active">{{ forum.title }}</li>
</ol>

<div class="pull-left">
    {{ render_pagination(topics, forum.url) }}
</div> <!-- end span pagination -->

{% if current_user|post_topic(forum) %}
<div class="pull-right">
    <form class="inline-form" method="post" action="{{ url_for('forum.markread', forum_id=forum.id, slug=forum.slug) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-default">
            <span class="fa fa-check"></span> {% trans %}Mark as Read{% endtrans %}
        </button>
    </form>

    {% if forum.locked %}
    <span class="btn btn-primary">
        <span class="fa fa-lock"></span> {% trans %}Locked{% endtrans %}
    </span>
    {% else %}
    <a href="{{ url_for('forum.new_topic', forum_id=forum.id, slug=forum.slug) }}" class="btn btn-primary">
        <span class="fa fa-pencil"></span> {% trans %}New Topic{% endtrans %}
    </a>
    {% endif %}
</div>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="{% if current_user|can_moderate(forum) %}6{% else %}5{% endif %}">
                {{ forum.title }}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="2">{% trans %}Topic{% endtrans %}</td>

            <td>{% trans %}Posts{% endtrans %}</td>

            <td>{% trans %}Views{% endtrans %}</td>

            <td>{% trans %}Last Post{% endtrans %}</td>

            {% if current_user|can_moderate(forum) %}
            <td class="forum-selectall"><input type="checkbox" name="rowtoggle" class="action-checkall" title="Select All"/></td>
            {% endif %}
        </tr>

        {% for topic, topicread in topics.items %}
        <tr>
            <td class="topic-status" width="4%" style="vertical-align: middle; text-align: center;">
            {% if topic.locked %}
                <span class="fa fa-lock" style="font-size: 2em"></span>
            {% elif topic.important %}
                {% if topic|topic_is_unread(topicread, current_user, forumsread) %}
                    <span class="fa fa-star" style="font-size: 2em"></span>
                {% else %}
                    <span class="fa fa-star-o" style="font-size: 2em"></span>
                {% endif %}
            {% else %}
                {% if topic|topic_is_unread(topicread, current_user, forumsread) %}
                    <span class="fa fa-comment" style="font-size: 2em"></span>
                {% else %}
                    <span class="fa fa-comment-o" style="font-size: 2em"></span>
                {% endif %}
            {% endif %}

            </td>
            <td>
                <div>
                    <a href="{{ topic.url }}">{{ topic.title }}</a>
                    <!-- Topic Pagination -->
                    {{ topic_pages(topic, flaskbb_config["POSTS_PER_PAGE"]) }}
                    <br />
                    <small>
                        {% trans %}by{% endtrans %}
                        {% if topic.user_id %}
                         <a href="{{ topic.user.url }}">{{ topic.user.username }}</a>
                        {% else %}
                        {{ topic.username }}
                        {% endif %}
                    </small>
                </div>
            </td>
            <td>
                {{ topic.post_count }}
            </td>
            <td>
                {{ topic.views }}
            </td>
            <td>
                <a href="{{ topic.last_post.url }}">{{ topic.last_post.date_created|time_since }}</a><br />

                <small>
                    {% trans %}by{% endtrans %}
                    {% if topic.last_post.user_id %}
                    <a href="{{ topic.last_post.user.url }}">{{ topic.last_post.user.username }}</a>
                    {% else %}
                    {{ topic.last_post.username }}
                    {% endif %}
                </small>
            </td>
            {% if current_user|can_moderate(forum) %}
            <td class="forum-select"><input type="checkbox" name="rowid" class="action-checkbox" value="{{ topic.id }}" title="Select Topic"/></td>
            {% endif %}
        </tr>
        {% else %}
        <tr>
            <td colspan="5">
                {% trans %}No Topics.{% endtrans %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% if current_user|can_moderate(forum) %}
<button id="toggle-moderation-tools" class="btn btn-default">Toggle Moderation Tools</button>

<div class="forum-moderation pull-right">
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-warning" href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('forum.lock_topic') }}', '{% trans %}Are you sure you want to lock these Topics?{% endtrans %}')">
            <span class="fa fa-lock"></span> {% trans %}Lock{% endtrans %}
        </a>
        <a class="btn btn-warning" href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('forum.unlock_topic') }}', '{% trans %}Are you sure you want to lock these Topics?{% endtrans %}')">
            <span class="fa fa-unlock"></span> {% trans %}Unlock{% endtrans %}
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-success" href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('forum.highlight_topic') }}', '{% trans %}Are you sure you want to highlight these Topics?{% endtrans %}')">
            <span class="fa fa-star"></span> {% trans %}Highlight{% endtrans %}
        </a>
        <a class="btn btn-success" href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('forum.trivialize_topic') }}', '{% trans %}Are you sure you want to trivialize these Topics?{% endtrans %}')">
            <span class="fa fa-star-o"></span> {% trans %}Trivialize{% endtrans %}
        </a>
    </div>

    <a class="btn btn-danger" href="javascript:void(0)" onclick="return bulk_actions.execute('{{ url_for('forum.delete_topic') }}', '{% trans %}Are you sure you want to trivialize these Topics?{% endtrans %}')">
        <span class="fa fa-trash-o"></span> {% trans %}Delete{% endtrans %}
    </a>

    <button class="btn btn-info">
        <span class="fa fa-plane"></span> {% trans %}Move{% endtrans %}
    </button>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
    <script>
    var bulk_actions = new BulkActions();

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
{% endblock %}
