{% set page_title = _("Search") %}

{% extends theme("layout.html") %}
{% from theme("macros.html") import horizontal_field %}
{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li class="active">{% trans %}Search{% endtrans %}</li>
    </ul>

    <form class="form-horizontal" role="form" method="post">
        <h2>{% trans %}Search{% endtrans %}</h2>
        <hr>
        {{ form.hidden_tag() }}
        {{ horizontal_field(form.search_types)}}
        {{ horizontal_field(form.search_query)}}
        {{ horizontal_field(form.submit) }}
    </form>

{% endblock %}
