{% set page_title = "Search" %}

{% extends theme("layout.html") %}
{% from theme("macros.html") import horizontal_field %}
{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
        <li class="active">Search</li>
    </ul>

    <form class="form-horizontal" role="form" method="post">
        <h2>Search</h2>
        <hr>
        {{ form.hidden_tag() }}
        {{ horizontal_field(form.search_types)}}
        {{ horizontal_field(form.search_query)}}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
    </form>

{% endblock %}