{% extends theme("layout.html") %}
{% set page_title = topic.title ~ " - Topic" %}
{% set active_forum_nav=True %}

{% block content %}
{% from theme('macros.html') import render_pagination, form_field %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
    <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
    <li class="active">{{ topic.title }}</li>
</ol>

{% include 'forum/topic_controls.html' %}

<table class="table table-bordered">
    <tbody>
        {% for post, user in posts.items %}
        <tr>
            <td >
                <span class="pull-right">
                    <strong>#{%- if posts.page == 1 -%} {{ loop.index }} {%- else -%} {{ loop.index + (posts.page - 1) * flaskbb_config["POSTS_PER_PAGE"] }} {%- endif -%}</strong>
                </span>
                <span class="pull-left">
                    <a href="
                    {%- if posts.page > 1 -%}
                        {{ topic.url }}?page={{ posts.page }}#pid{{ post.id }}
                    {%- else -%}
                        {{ topic.url }}#pid{{ post.id }}
                    {%- endif -%}
                        ">{{ post.date_created|format_date('%d %B %Y') }}</a>
                    {% if post.user_id and post.date_modified %}
                    <small>
                        (Last modified: {{ post.date_modified|format_date }} by
                        <a href="{{ url_for('user.profile', username=post.modified_by) }}">
                            {{ post.modified_by }}
                        </a>.)
                    </small>
                    {% endif %}
                </span>
            </td>
        </tr>

        <tr>
        <td>
            <table class="table table-borderless">
                <tr>
                {% if post.user_id %}
                    {% if user.avatar %}
                    <td width="1">
                        <img src="{{ user.avatar }}" alt="Avatar" height="100" width="100">
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ user.url }}">
                            <span style="font-weight:bold">{{ user.username }}</span> <!-- TODO: Implement userstyles -->
                        </a>
                            {%- if user|is_online %}
                            <span class="label label-success">Online</span>
                            {%- else %}
                            <span class="label label-default">Offline</span>
                            {%- endif %}
                            <div class="profile primary-group">
                            {{ user.primary_group.name }}
                            </div>
                    </td>

                    <td class="pull-right">
                        Posts: {{ user.post_count }}<br />
                        Registered since: {{ user.date_joined|format_date('%b %d %Y') }}<br />
                    </td>
                {% else %}
                    <td>
                        <strong>{{ post.username }}</strong>
                        <br />
                        Guest
                    </td>
                {% endif %}
                </tr>
            </table>
        </td>
        </tr>

        <tr>
            <td>
                <div class="post_body" id="pid{{ post.id }}">
                {% autoescape false %}
                    {{ post.content|markup }}
                    <!-- Signature Begin -->
                    {% if post.user_id and user.signature %}
                    <div class="signature">
                        <hr>
                        {{ user.signature|markup }}
                    </div>
                    {% endif %}
                    <!-- Signature End -->
                {% endautoescape %}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="pull-left">
                    {% if current_user.is_authenticated() and post.user_id and post.user_id != current_user.id %}
                    <a href="{{ url_for('user.new_message', to_user=post.user.username) }}">PM</a>
                    {% endif %}
                    {% if user.website %}
                    {% if current_user.is_authenticated() %}| {% endif %}<a href="{{ user.website }}">Website</a>
                    {% endif %}
                </span>

                <span class="pull-right">
                    {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('forum.report_post', post_id=post.id) }}" onclick="window.open(this.href, 'wio_window','width=500,height=500'); return false;">
                        Report
                    </a> |
                    {% endif %}
                    {% if current_user|edit_post(post) %}
                    <a href="{{ url_for('forum.edit_post', post_id=post.id) }}">Edit</a> |
                    {% endif %}
                    {% if topic.first_post_id == post.id %}
                        {% if current_user|delete_topic(topic) %}
                        <a href="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}">Delete</a> |
                        {% endif %}
                    {% else %}
                        {% if current_user|delete_post(post) %}
                        <a href="{{ url_for('forum.delete_post', post_id=post.id) }}">Delete</a> |
                        {% endif %}
                    {% endif %}
                    {% if current_user|post_reply(topic) %}
                        <!-- Quick quote -->
                        <a href="#" class="quote_btn" data-post-id="{{ post.id }}">Quote</a> |
                        <!-- Full quote/reply -->
                        <a href="{{ url_for('forum.reply_post', topic_id=topic.id, post_id=post.id) }}">Reply</a>
                    {% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'forum/topic_controls.html' %}

{% if form %}
    {% from "macros.html" import render_field %}
    <form class="form" action="#" method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.content, div_class="col-sm-12 reply-content", rows=5) }}

        <button type="submit" class="btn btn-success">Reply!</button>
    </form>
{% endif %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/topic.js') }}"></script>
{% endblock %}
