
<div class="pull-left" style="padding-bottom: 10px">
    {{ render_pagination(posts, topic.url) }}
</div> <!-- end span pagination -->

<div class="pull-right" style="padding-bottom: 10px">
    <div class="btn btn-group">
        {% if current_user|delete_topic(topic.first_post.user_id, topic.forum) %}
        <a href="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-danger">
            <span class="fa fa-trash-o"></span> Delete Topic
        </a>
        {% endif %}
        {% if current_user|can_moderate(topic.forum) %}
        {% if not topic.locked %}
        <a href="{{ url_for('forum.lock_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-warning">
            <span class="fa fa-lock"></span> Lock Topic
        </a>
        {% else %}
        <a href="{{ url_for('forum.unlock_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-warning">
            <span class="fa fa-unlock"></span> Unlock Topic
        </a>
        {% endif %}
        {% endif %}
    </div>

    {% if current_user.is_authenticated() %}
    <div class="btn btn-group">
        {% if current_user.is_tracking_topic(topic) %}
        <a href="{{ url_for('forum.untrack_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default"><span class="fa fa-star">
            </span> Untrack Topic
        </a>
        {% else %}
        <a href="{{ url_for('forum.track_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default">
            <span class="fa fa-star"></span> Track Topic
        </a>
        {% endif %}

        {% if current_user|post_reply(topic) %}
        <a href="{{ url_for('forum.new_post', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-primary">
            <span class="fa fa-pencil"></span> Reply
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="clearfix"></div>
