{% extends theme("layout.html") %}
{% set page_title = _("%(title)s - Topic", title=topic.title) %}
{% set active_forum_nav=True %}

{% block content %}
{% from theme('macros.html') import render_pagination, form_field, generate_obj_id, generate_post_url %}

<div class="topic-view">
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
        <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
        <li class="active">{{ topic.title }}</li>
    </ol>

    {% include theme('forum/topic_controls.html') %}
    {% if topic.hidden %}
    <div class="alert alert-warning">
        <span class="fa fa-user-secret"></span>
        {{ gettext("This topic is hidden (%(when)s by %(who)s)", who=topic.hidden_by.username, when=format_date(topic.hidden_at)) }}
    </div>
    {% endif %}


    <div class="panel topic-panel">
        <div class="panel-heading topic-head">
            <a href="{{ topic.url }}">{{ topic.title }}</a>
        </div>
        <div class="panel-body topic-body">
            {% for post, user in posts.items %}
            <div id="{{ post.id }}" class="row post-row clearfix">

                <div class="author author-horizontal col-md-12 col-sm-12 col-xs-12">
                    <div class="pull-left">
                        {% if user.avatar %}
                        <div class="author-box">
                            <div class="author-avatar hidden-xs"><img src="{{ user.avatar }}" alt="avatar"></div>
                        </div>
                        {% endif %}

                        <div class="author-box">
                            <!-- Registered User -->
                            <div class="author-name"><h4><a href="{{ user.url }}">{{ user.username }}</a></h4></div>

                            <!-- check whether user is online or not -->
                            {% if user|is_online %}
                            <div class="author-online" data-toggle="tooltip" data-placement="top" title="{% trans %}online{% endtrans %}"></div>
                            {% else %}
                            <div class="author-offline" data-toggle="tooltip" data-placement="top" title="{% trans %}offline{% endtrans %}"></div>
                            {% endif %}
                            <div class="author-title"><h5>{{ user.primary_group.name }}</h5></div>
                            {{ run_hook("flaskbb_tpl_before_post_author_info", user=user, post=post) }}

                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="author-box clearfix">
                            <div class="author-registered">{% trans %}Joined{% endtrans %}: {{ user.date_joined|format_date }}</div>
                            <div class="author-posts">{% trans %}Posts{% endtrans %}: {{ user.post_count }}</div>

                            {{ run_hook("flaskbb_tpl_after_post_author_info", user=user, post=post) }}
                        </div>
                    </div>
                </div>

                <div class="post-box post-horizontal col-md-12 col-sm-12 col-xs-12">
                    <div class="post-meta clearfix">
                        <div class="pull-left">
                            <!-- Creation date / Date modified -->
                            <a href="{{ post.url }}">
                                {{ post.date_created|format_datetime }}
                            </a>
                            {% if post.user_id and post.date_modified %}
                            <small>
                                ({% trans date=post.date_modified|format_datetime, user_url=url_for('user.profile', username=post.modified_by), user=post.modified_by %}Last modified: {{ date }} by <a href="{{ user_url }}">{{ user }}</a>{% endtrans %})
                            </small>
                            {% endif %}
                        </div>

                        <!-- Post number -->
                        <div class="pull-right">
                            <strong>#{{ generate_obj_id(posts, loop.index, flaskbb_config["POSTS_PER_PAGE"]) }}</strong>
                        </div>
                    </div>

                    <div class="post-content clearfix" id="pid{{ post.id }}">
                        {{ post.content|markup }}
                        <!-- Signature Begin -->
                        {% if flaskbb_config["SIGNATURE_ENABLED"] and post.user_id and user.signature %}
                        <div class="post-signature hidden-xs">
                        <hr />
                            {{ user.signature|markup }}
                        </div>
                        {% endif %}
                        <!-- Signature End -->
                    </div>

                        <div class="post-footer clearfix">

                            <!-- Report/Edit/Delete/Quote Post-->
                            <div class="post-menu pull-right">
                            {{ run_hook("flaskbb_tpl_post_menu_before", post=post) }}

                            {% if current_user|post_reply(topic) %}
                            <!-- Quick quote -->
                                <a href="#" class="btn btn-icon icon-reply quote-btn" data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top" title="{% trans %}Quote this post{% endtrans %}"></a>
                            <!-- Full quote/reply -->
                                <a href="{{ url_for('forum.reply_post', topic_id=topic.id, post_id=post.id) }}" class="btn btn-icon icon-replyall" data-toggle="tooltip" data-placement="top" title="{% trans %}Full Reply{% endtrans %}"></a>
                            {% endif %}

                            {% if current_user|edit_post(post) %}
                            <!-- Edit Post -->
                            <a href="{{ url_for('forum.edit_post', post_id=post.id) }}" class="btn btn-icon icon-edit" data-toggle="tooltip" data-placement="top" title="{% trans %}Edit this post{% endtrans %}"></a>
                            {% endif %}
                            {% if topic.first_post == post %}
                                {% if current_user|delete_topic(topic) %}
                                <form class="inline-form" method="post" action="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button class="btn btn-icon icon-delete" data-toggle="tooltip" data-placement="top" title="{% trans %}Delete this topic{% endtrans %}"></button>
                                </form>
                                {% endif %}
                            {% else %}
                                {% if current_user|delete_post(post) %}
                            <!-- Delete Post -->
                                <form class="inline-form" method="post" action="{{ url_for('forum.delete_post', post_id=post.id) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button  class="btn btn-icon icon-delete" data-toggle="tooltip" data-placement="top" title="{% trans %}Delete this post{% endtrans %}"></button>
                                </form>
                                {% endif %}

                            {% endif %}

                            {% if current_user.is_authenticated %}
                            <!-- Report post -->
                                <a href="{{ url_for('forum.report_post', post_id=post.id) }}" onclick="window.open(this.href, 'wio_window','width=500,height=500'); return false;" class="btn btn-icon icon-report" data-toggle="tooltip" data-placement="top" title="{% trans %}Report this post{% endtrans %}"></a>
                            {% endif %}

                            {% if current_user.permissions.get('makehidden') %}
                                {% if topic.first_post_id == post.id %}
                                    {% if topic.hidden %}
                                    <form class="inline-form" method="post" action="{{ url_for('forum.unhide_topic', topic_id=topic.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button class="btn btn-icon fa fa-user" name="unhide" data-toggle="tooltip" data-placement="top" title="{% trans %}Unhide this topic{% endtrans %}"></button>
                                    </form>
                                    {% else %}
                                    <form class="inline-form" method="post" action="{{ url_for('forum.hide_topic', topic_id=topic.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button class="btn btn-icon fa fa-user-secret" name="hide" data-toggle="tooltip" data-placement="top" title="{% trans %}Hide this topic{% endtrans %}"></button>
                                    </form>
                                    {% endif %}
                                {% else %}
                                    {% if post.hidden %}
                                    <form class="inline-form" method="post" action="{{ url_for('forum.unhide_post', post_id=post.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button class="btn btn-icon fa fa-user" name="unhide" data-toggle="tooltip" data-placement="top" title="{% trans %}Unhide this post{% endtrans %}"></button>
                                    </form>
                                    {% else %}
                                    <form class="inline-form" method="post" action="{{ url_for('forum.hide_post', post_id=post.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button class="btn btn-icon fa fa-user-secret" name="hide" data-toggle="tooltip" data-placement="top" title="{% trans %}Hide this post{% endtrans %}"></button>
                                    </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {{ run_hook("flaskbb_tpl_post_menu_after", post=post) }}
                            </div> <!-- end post-menu -->
                        </div> <!-- end footer -->

                </div>
            </div>
            {% endfor %}

        </div> <!-- end topic-body -->
    </div> <!-- end topic-panel -->

    {% include theme('forum/topic_controls.html') %}
    {% from theme("macros.html") import render_field, render_quickreply, render_submit_field %}
    {% if form %}
    <form class="form" action="#" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-3 col-md-10 col-sm-9 col-xs-12">
                <div class="editor-box">
                    <div class="editor quickreply">
                            {{ render_quickreply(form.content, div_class="new-message", rows=7, cols=75, placeholder="", **{'data-provide': 'markdown', 'data-autofocus': 'false', 'class': 'flaskbb-editor'}) }}
                    </div>
                    <div class="editor-submit">
                        {{ render_submit_field(form.submit, input_class="btn btn-success pull-right") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include theme('editor_help.html') %}
    {% endif %}

</div>
{% include theme('confirm_dialog.html') %}
{% endblock %}
