<div class="navbar navbar-default forum-navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
        <!-- navbar left -->
        <ul class="nav navbar-nav forum-nav">
            {%- from theme("macros.html") import is_active, topnav with context -%}
            {{ emit_event("before-first-navigation-element") }}

            {{ topnav(endpoint='forum.index', name=_('Forum'), icon='fa fa-comment', active=active_forum_nav) }}
            {{ topnav(endpoint='forum.memberlist', name=_('Memberlist'), icon='fa fa-user') }}
            {{ topnav(endpoint='forum.search', name=_('Search'), icon='fa fa-search') }}

            {{ emit_event("after-last-navigation-element") }}
        </ul>

        <!-- navbar right -->
        <ul class="nav navbar-nav navbar-right">

            {% if current_user and current_user.is_authenticated() %}
            <!-- Inbox -->
            <li class="dropdown {{ is_active('message.inbox') }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-envelope"></span> Inbox <span class="label label-info">{{ current_user.pm_unread }}</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('message.inbox') }}"><span class="fa fa-envelope"></span> {% trans %}Private Messages{% endtrans %}</a></li>
                    <li><a href="{{ url_for('message.new_conversation') }}"><span class="fa fa-pencil"></span> {% trans %}New Message{% endtrans %}</a></li>
                </ul>
            </li>

            <!-- Topic Tracker -->
            {{ topnav(endpoint='forum.topictracker', name=_('Topic Tracker'), icon='fa fa-book') }}

            <!-- User Menu -->
            <li>
                <div class="btn-group navbar-btn user-btn">
                    <a class="btn btn-primary" href="{{ url_for('user.profile', username=current_user.username) }}">
                        <span class="fa fa-user"></span> {{ current_user.username }}
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('forum.topictracker') }}"><span class="fa fa-book"></span> {% trans %}Topic Tracker{% endtrans %}</a></li>
                        <li class="divider"></li>

                        <li><a href="{{ url_for('user.settings') }}"><span class="fa fa-cogs"></span> {% trans %}Settings{% endtrans %}</a></li>
                        {% if current_user|is_admin_or_moderator %}
                        <li><a href="{{ url_for('management.overview') }}"><span class="fa fa-cog"></span> {% trans %}Management{% endtrans %}</a></li>
                        <li class="divider"></li>
                        {% endif %}

                        <li><a href="{{ url_for('auth.logout') }}"><span class="fa fa-power-off"></span> {% trans %}Logout{% endtrans %}</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <!-- Not logged in - Login/Register -->
            <li>
                <div class="btn-group navbar-btn user-btn">
                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">
                        <span class="fa fa-user"></span> {% trans %}Login{% endtrans %}
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('auth.register') }}">{% trans %}Register{% endtrans %}</a></li>
                        <li><a href="{{ url_for('auth.forgot_password') }}">{% trans %}Reset Password{% endtrans %}</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}

        </ul> <!-- end navbar right -->
    </div> <!-- end navbar-collapse -->
</div> <!-- end navbar -->
