{% extends theme("user/settings_layout.html") %}
{% block settings_content %}
{%- from theme("_macros/form.html") import horizontal_field %}

<div class="card page">
    <div class="card-header page-header">
        {% trans %}Change Password{% endtrans %}
    </div>
    <div class="card-body page-body">
        <form role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.old_password)}}
            {{ horizontal_field(form.new_password)}}
            {{ horizontal_field(form.confirm_new_password)}}
            {{ horizontal_field(form.submit, div_class="offset-3 col-4") }}
        </form>
    </div>
</div>
{% endblock %}
