{% extends theme("user/settings_layout.html") %}
{% from theme("macros.html") import horizontal_field %}

{% block settings_content %}
<form class="form-horizontal" role="form" method="POST">
    <legend>Change Password</legend>
    {{ form.hidden_tag() }}
    {{ horizontal_field(form.old_password)}}
    {{ horizontal_field(form.new_password)}}
    {{ horizontal_field(form.confirm_new_password)}}

    <div class="form-group row">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
{% endblock %}
