{% extends theme("user/profile_layout.html") %}

{% block breadcrumb %}
<ul class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li class="active">{{ user.username }}</li>
</ul>
{% endblock %}

{% block profile_content %}
<!-- middle column -->
<div class="col-md-9 col-sm-9 col-xs-12 profile-content">


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            {% if user.notes %}
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Info{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {{ user.notes|markup }}
                    </div>
                </div>
            </div> <!-- end profile widget -->
            {% else %}
            <div class="row">
                <div class="col-md-12 col-sm-12 co-xs-12">
                    <div class="alert-message alert-message-info" role="alert">
                        {% trans %}User has not added any notes.{% endtrans %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if user.signature %}
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Signature{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {{ user.signature|markup }}
                    </div>
                </div>
            </div> <!-- end profile widget -->
            {% endif %}

        </div>
        {# Other information available for use:
         # TODO: eventually use the information (i don't how i should represent it.. any ideas?)
        <div role="tabpanel" class="tab-pane" id="info">
            <div>
                {% trans %}Group{% endtrans %}:
                {{ user.primary_group.name }}
            </div>
            <div>
                {% trans %}Joined{% endtrans %}:
                {{ user.date_joined|format_date }}
            </div>
            <div>
                {% trans %}Posts{% endtrans %}:
                {{ user.post_count }} ({{ user.posts_per_day }} per day)
            </div>
            <div>
                {% trans %}Last seen{% endtrans %}:
                {%- if user.lastseen -%} {{ user.lastseen|time_since }} {%- else -%} {% trans %}Never seen{% endtrans %} {%- endif -%}
            </div>
            <div>
                {% trans %}Last post{% endtrans %}:
                {%- if user.last_post -%}
                    <a href="{{ user.last_post.url }}">{{ user.last_post.date_created|time_since }}</a>
                {%- else -%}
                    {% trans %}Never{% endtrans %}
                {%- endif -%}
            </div>
            <div>
                {% trans %}Location{% endtrans %}:
                {%- if user.location -%} {{ user.location }} {%- else -%} {% trans %}No Info{% endtrans %} {%- endif -%}
            </div>
            <div>
                {% trans %}Birthday{% endtrans %}:
                {% if user.birthday %}
                    {{ user.birthday|format_date }}
                {% else %}
                    {% trans %}No Info{% endtrans %}
                {% endif %}
                {% if user.gender %}
                    ({{ user.gender }})
                {% endif %}
            </div>
        </div>
        #}
    </div>
</div> <!-- end col -->
{% endblock %}
