{% extends theme("layout.html") %}
{% block content %}
{%- from theme('macros.html') import navlink with context -%}

<ul class="breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
    <li><a href="{{ url_for('user.profile', username=current_user.username) }}">{{ current_user.username }}</a></li>
    <li class="active">Settings</li>
</ul>

<div class="row">
    <div class="col-sm-3">
        <div class="sidebar">
            <ul class="nav sidenav">
                <li class="nav-header">Account Settings</li>
                {{ navlink('user.settings', 'General Settings') }}
                {{ navlink('user.change_user_details', 'Change User Details') }}
                {{ navlink('user.change_email', 'Change E-Mail Address') }}
                {{ navlink('user.change_password', 'Change Password') }}
            </ul>
        </div> <!--/.sidebar -->
    </div><!--/.col-sm-3 -->
    <div class="col-sm-9">
        {% block settings_content %}{% endblock %}
    </div><!--/.col-sm-9 -->
</div><!--/row-->

{% endblock %}

