{% set page_title = "Add User" %}
{% set active_forum_nav=True %}

{% extends "admin/admin_layout.html" %}
{% block admin_content %}
{% from "macros.html" import render_field, render_select_field %}

<form class="form-horizontal" role="form" method="post">
    {{ form.hidden_tag() }}
    <legend class="">Add User</legend>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.birthday) }}
        {{ render_select_field(form.gender) }}
        {{ render_field(form.location) }}
        {{ render_field(form.website) }}
        {{ render_field(form.avatar) }}
        {{ render_select_field(form.primary_group) }}
        {{ render_field(form.signature, rows=5, div_class="col-lg-9") }}
        {{ render_field(form.notes, rows=12, div_class="col-lg-9") }}


        <div class="form-group">
            <div class="col-lg-offset-0 col-lg-9">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
</form>

{% endblock %}
