{% extends theme("layout.html") %}
{% block content %}
{%- from theme('macros.html') import navlink with context -%}

<div class="col-md-12" style="padding-bottom: 10px">
    <ul class="nav nav-tabs nav-justified">
        {{ navlink('admin.overview', 'Overview') }}
        {{ navlink('admin.settings', 'Settings') }}
        {{ navlink('admin.users', 'Users') }}
        {{ navlink('admin.groups', 'Groups') }}
        {{ navlink('admin.forums', 'Forums') }}
        {{ navlink('admin.unread_reports', 'Reports') }}
        {{ navlink('admin.plugins', 'Plugins') }}
    </ul>
</div>

{% block admin_content %}{% endblock %}

{% endblock %}
