{% extends "layout.html" %}
{% block content %}
{%- from 'macros.html' import navlink with context-%}

<div class="row">
    <div class="col-md-3">
        <div class="sidebar">
            <ul class="nav sidenav">
                <li class="nav-header">Options</li>
                {{ navlink('admin.overview', 'Overview') }}
                {{ navlink('admin.users', 'Users') }}
                {{ navlink('admin.groups', 'Groups') }}
                {{ navlink('admin.categories', 'Categories') }}
                {{ navlink('admin.forums', 'Forums') }}
            </ul>
        </div><!--/.sidebar -->
    </div><!--/.col-md-3 -->
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div><!--/.col-md-9 -->
</div><!--/.row -->
{% endblock %}
