{% set page_title = title %}
{% set active_admin_forum_nav=True %}

{% extends theme("admin/admin_layout.html") %}
{% block admin_content %}
{% from theme("macros.html") import horizontal_field, render_boolean_field, navlink with context %}

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        {{ navlink('admin.forums', "Manage Forums") }}
        {{ navlink('admin.add_forum', "Add Forum") }}
        {{ navlink('admin.add_category', "Add Category") }}
    </ul>
</div>

<div class="col-md-9">
    <form class="form-horizontal" role="form" method="post">
        {{ form.hidden_tag() }}
        <legend class="">{{ title }}</legend>
            {{ horizontal_field(form.title) }}
            {{ horizontal_field(form.description, rows=5, div_class="col-lg-9") }}

            {{ horizontal_field(form.position) }}

            <div class="form-group">
                <div class="col-lg-offset-0 col-lg-9">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
    </form>
</div>

{% endblock %}
