{% extends "admin/admin_layout.html" %}
{% block admin_content %}
<legend>Manage Categories</legend>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Description</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories.items %}
        <tr>
            <td>{{ category.id }}</td>
            <td><a href="#">{{ category.title }}</a></td>
            <td>{{ category.description }}</td>
            <td>Edit | Remove</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
