{% extends "admin/admin_base.html" %}
{% block admin_content %}
<form action="{{ url_for('admin.edit_page', page_id=page.pid) }}" method="post" name="edit">
    <fieldset>
    {%- from 'macros/wtf_macros.html' import form_field -%}
    {{ form.hidden_tag() }}

    <legend>New Page</legend>

    {{ form_field(form.title) }}

    {{ form_field(form.position) }}

    {{ form_field(form.content, rows="20", class="span10") }}

    <button type="submit" class="btn">Save!</button>

    </fieldset>
</form>
{% endblock %}
