{% extends "admin/admin_base.html" %}
{% block admin_content %}
            <table class="table table-stripped table-hover">
                <thead>
                    <tr class="success">
                        <th colspan="4">Global Statistics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>SomeBlocks Version</b></td>
                        <td>someblocks-20130220-git</td>
                        <td><b>Posts</b></td>
                        <td>50 Posts</td>
                    </tr>
                    <tr>
                        <td><b>Python Version</b></td>
                        <td>{{ py_ver }}</td>
                        <td><b>Comments</b></td>
                        <td>1237 Comments</td>
                    </tr>
                    <tr>
                        <td><b>Flask Version</b></td>
                        <td>0.9</td>
                        <td><b>User</b></td>
                        <td>456 Users</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Group</b></td>
                        <td>10 Groups</td>
                    </tr>
                </tbody>
            </table>
{% endblock %}
