{% extends "admin/admin_base.html" %}
{% block admin_content %}
            <table class="table table-stripped table-hover">
                <thead>
                    <tr class="success">
                        <th>Manage Users</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td colspan="2">
                            <b><a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a></b>
                        </td>
                        <td colspan="2">
                            <i class="icon-trash"></i> <a href="{{ url_for('users.editprofile', username = user.username) }}">Edit User</a>
                            <i class="icon-edit"></i> <a href="{{ url_for('admin.delete_user', username = user.username) }}">Delete User</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}
