{% extends "admin/admin_base.html" %}
{% block admin_content %}
            <table class="table table-stripped table-hover">
                <thead>
                    <tr class="success">
                        <th>Manage Posts | <small><a href="{{ url_for('blog.new_post') }}">New Post</a><small></th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td colspan="2">
                            <b><a href="{{ url_for('blog.post', id=post.pid) }}">{{ post.title }}</a></b>
                        </td>
                        <td colspan="2">
                            <i class="icon-trash"></i> <a href="{{ url_for('blog.edit_post', id = post.pid) }}">Edit Post</a>
                            <i class="icon-edit"></i> <a href="{{ url_for('blog.delete_post', id = post.pid) }}">Delete Post</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}
