{% extends "admin/admin_base.html" %}
{% block admin_content %}
            <table class="table table-stripped table-hover">
                <thead>
                    <tr class="success">
                        <th>Manage Pages</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <b><a href="#">Page Title</a></b>
                        </td>
                        <td colspan="2">
                            <i class="icon-trash"></i> <a href="#">Edit Page</a>
                            <i class="icon-edit"></i> <a href="#">Delete Page</a>
                        </td>
                    </tr>
                </tbody>
            </table>
{% endblock %}
