{% extends "admin/admin_layout.html" %}
{% block admin_content %}

            <table class="table table-stripped table-hover">
                <thead>
                    <tr class="success">
                        <th colspan="4">Global Statistics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>FlaskBB Version</b></td>
                        <td>0.1</td>
                        <td><b>Posts</b></td>
                        <td>10 Posts</td>
                    </tr>
                    <tr>
                        <td><b>Python Version</b></td>
                        <td>2.7.5</td>
                        <td><b>Comments</b></td>
                        <td>10 Comments</td>
                    </tr>
                    <tr>
                        <td><b>Flask Version</b></td>
                        <td>0.10.1</td>
                        <td><b>User</b></td>
                        <td>10 Users</td>
                    </tr>
                </tbody>
            </table>

{% endblock %}
