{% extends theme("admin/admin_layout.html") %}
{% block admin_content %}
{% from theme('macros.html') import render_boolean_field, render_select_field, render_field %}

<legend>Settings</legend>

<form class="form-horizontal" role="form" method="post">

    {#
    Form validation does work when doing it this way
    {{ render_field(form.project_title) }}
    {{ render_field(form.project_subtitle) }}
    {{ render_field(form.posts_per_page) }}
    #}
    {% for field in form %}
        {# Form validation doesn't work when doing it this way #}
        {% if field.type in ["HiddenField", "CSRFTokenField"] %}
            {{ field() }}
        {% endif %}
        {% if field.type not in ["TextField", "IntegerField"] %}
            {% if field.type == "BooleanField" %}
                {{ render_boolean_field(field) }}
            {% endif %}

            {% if field.type in ["SelectField", "SelectMultipleField"] %}
                {{ render_select_field(field) }}
            {% endif %}
        {% else %}
            {{ render_field(field) }}
        {% endif %}
    {%  endfor %}

    <button type="submit" class="btn btn-default">Save</button>

</form>

{% endblock %}
