{% extends theme("admin/admin_layout.html") %}
{% block admin_content %}
{% from theme('macros.html') import render_boolean_field, render_select_field, render_field %}

<legend>Settings</legend>

<form class="form-horizontal" role="form" method="post">

    {% for field in form %}
        {% if field.type in ["HiddenField", "CSRFTokenField"] %}
            {{ field() }}
        {% endif %}
        {% if field.type not in ["TextField", "IntegerField"] %}
            {% if field.type == "BooleanField" %}
                {{ render_boolean_field }}
            {% endif %}

            {% if field.type in ["SelectField", "SelectMultipleField"] %}
                {{ render_select_field(field) }}
            {% endif %}
        {% else %}
            {{ render_field(field) }}
        {% endif %}
    {%  endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>

</form>

{% endblock %}
