{% set page_title = _("Reports") %}
{% set active_management_report_nav=True %}

{% extends theme("management/management_layout.html") %}

{% block breadcrumb %}
<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li><a href="{{ url_for('management.overview') }}">{% trans %}Management{% endtrans %}</a></li>
    <li class="active">{% trans %}Reports{% endtrans %}</li>
</ol>
{% endblock %}

{% block management_content %}
{% from theme('macros.html') import render_pagination, navlink with context %}


<div class="col-md-3 settings-col">
    <div class="nav-sidebar">
        <ul class="nav">
            {{ navlink('management.unread_reports', _("Show unread reports")) }}
            {{ navlink('management.reports', _("Show all reports")) }}
        </ul>
    </div>
</div>


<div class="col-md-9 settings-col with-left-border">
    <div class="panel settings-panel">
        <div class="panel-heading settings-head">
            <span class="fa fa-flag"></span> {% trans %}All Reports{% endtrans %}
        </div>
        <div class="panel-body settings-body">
            <div class="settings-content">
                <div class="settings-meta row">
                    <div class="col-md-1 col-sm-1 col-xs-1 meta-item">#</div>
                    <div class="col-md-1 col-sm-2 col-xs-2 meta-item">{% trans %}Poster{% endtrans %}</div>
                    <div class="col-md-3 col-sm-3 col-xs-3 meta-item">{% trans %}Topic{% endtrans %}</div>
                    <div class="col-md-3 col-sm-4 col-xs-3 meta-item">{% trans %}Reason{% endtrans %}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2 meta-item">{% trans %}Reporter{% endtrans %}</div>
                    <div class="col-md-2 hidden-sm hidden-xs meta-item">{% trans %}Reported{% endtrans %}</div>
                </div>
            {% for report in reports.items %}
                <div class="row settings-row hover clearfix">
                    <div class="col-md-1 col-sm-1 col-xs-1">{{ report.id }}</div>
                    <div class="col-md-1 col-sm-2 col-xs-2"><a href="{{ report.post.user.url }}">{{ report.post.user.username }}</a></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"><a href="{{ report.post.url }}" target="_blank">{{ report.post.topic.title }}</a></div>
                    <div class="col-md-3 col-sm-4 col-xs-3">{{ report.reason }}</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">{{ report.reporter.username }}</div>
                    <div class="col-md-2 hidden-sm hidden-xs">{{ report.reported|time_since }}</div>
                </div>
            {% else %}
                <div class="row settings-row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">{% trans %}No unread reports.{% endtrans %}</div>
                </div>
            {% endfor %}
            </div>
            <div class="panel-footer settings-footer">
                {{ render_pagination(reports, url_for('management.unread_reports')) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
