{% extends theme("user/profile_layout.html") %}

{% block breadcrumb %}
<ul class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li class="active">{{ user.username }}</li>
</ul>
{% endblock %}

{% block profile_content %}
<!-- middle column -->
<div class="col-md-9 col-sm-9 col-xs-12 profile-content">


    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">

            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Info{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                    {% if user.notes %}
                        {{ user.notes|markup|safe }}
                    {% else %}
                        <p>{% trans %}User has not added any notes about him.{% endtrans %}</p>
                    {% endif %}
                    </div>
                </div>
            </div> <!-- end profile widget -->


            {% if user.signature %}
            <div class="panel page-panel">
                <div class="panel-heading page-head">{% trans %}Signature{% endtrans %}</div>
                <div class="panel-body page-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 profile-field">
                        {{ user.signature|markup|safe }}
                    </div>
                </div>
            </div> <!-- end profile widget -->
            {% endif %}

        </div>
        <div role="tabpanel" class="tab-pane" id="info">

            {{ user.post_count }}

        </div>
    </div>
</div> <!-- end col -->
{% endblock %}
