html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #e8f1f2;
  margin-bottom: 60px; }

.flaskbb-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 1em; }

.flaskbb-layout {
  padding-top: 20px;
  color: #5a5a5a; }

.flaskbb-header {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #3276b1;
  background-image: -webkit-linear-gradient(top, #285e8e 0%, #3276b1 100%);
  background-image: linear-gradient(to bottom, #285e8e 0%, #3276b1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-background-secondary', endColorstr='$header-background-primary', GradientType=0);
  border: 1px solid #cad7e1;
  border-bottom: 0;
  border-radius: 0.25em 0.25em 0 0;
  position: relative;
  height: 12em;
  padding: 2.5em 2em;
  margin-top: 2.5em; }
  .flaskbb-header .flaskbb-meta .flaskbb-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold; }
  .flaskbb-header .flaskbb-meta .flaskbb-subtitle {
    color: #E8F1F2; }

.forum-navigation {
  border: 1px solid #cad7e1;
  border-radius: 0 0 0.25em 0.25em;
  background-color: #f8f8f8; }
  .forum-navigation .navbar-btn > a.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
  .forum-navigation .navbar-btn > a.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  .forum-navigation .navbar-btn > a.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .forum-navigation .navbar-nav .user-btn {
    padding-right: 2em;
    padding-left: 1em; }
  .forum-navigation .navbar-nav > li > a:hover, .forum-navigation .navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #e7e7e7; }

.flaskbb-breadcrumb {
  border: 1px solid #cad7e1;
  border-radius: 0; }

.index-view .forum-row, .index-view .category-row, .index-view .post-row, .forum-view .forum-row, .forum-view .category-row, .forum-view .post-row, .topic-view .forum-row, .topic-view .category-row, .topic-view .post-row {
  margin: 0; }

.category-panel, .forum-panel, .topic-panel, .widget-panel {
  border: 1px solid #cad7e1;
  border-radius: 0;
  margin-bottom: 0; }
  .category-panel .category-head, .category-panel .forum-head, .category-panel .topic-head, .category-panel .widget-head, .forum-panel .category-head, .forum-panel .forum-head, .forum-panel .topic-head, .forum-panel .widget-head, .topic-panel .category-head, .topic-panel .forum-head, .topic-panel .topic-head, .topic-panel .widget-head, .widget-panel .category-head, .widget-panel .forum-head, .widget-panel .topic-head, .widget-panel .widget-head {
    background-color: #f5f5f5;
    font-weight: bold; }

.category-body, .forum-body, .topic-body, .widget-body {
  padding: 0;
  background-color: #fff; }
  .category-body .category-meta, .category-body .forum-meta, .category-body .topic-meta, .category-body .widget-meta, .forum-body .category-meta, .forum-body .forum-meta, .forum-body .topic-meta, .forum-body .widget-meta, .topic-body .category-meta, .topic-body .forum-meta, .topic-body .topic-meta, .topic-body .widget-meta, .widget-body .category-meta, .widget-body .forum-meta, .widget-body .topic-meta, .widget-body .widget-meta {
    padding-top: 0.5em;
    height: 2.5em;
    background-color: #e8f1f2;
    border-bottom: 1px solid #cad7e1; }
  .category-body .category-row, .category-body .forum-row, .category-body .topic-row, .category-body .widget-row, .category-body .post-row, .forum-body .category-row, .forum-body .forum-row, .forum-body .topic-row, .forum-body .widget-row, .forum-body .post-row, .topic-body .category-row, .topic-body .forum-row, .topic-body .topic-row, .topic-body .widget-row, .topic-body .post-row, .widget-body .category-row, .widget-body .forum-row, .widget-body .topic-row, .widget-body .widget-row, .widget-body .post-row {
    margin-top: 0.5em;
    padding-bottom: 0.5em; }
    .category-body .category-row:not(:last-child), .category-body .forum-row:not(:last-child), .category-body .topic-row:not(:last-child), .category-body .widget-row:not(:last-child), .category-body .post-row:not(:last-child), .forum-body .category-row:not(:last-child), .forum-body .forum-row:not(:last-child), .forum-body .topic-row:not(:last-child), .forum-body .widget-row:not(:last-child), .forum-body .post-row:not(:last-child), .topic-body .category-row:not(:last-child), .topic-body .forum-row:not(:last-child), .topic-body .topic-row:not(:last-child), .topic-body .widget-row:not(:last-child), .topic-body .post-row:not(:last-child), .widget-body .category-row:not(:last-child), .widget-body .forum-row:not(:last-child), .widget-body .topic-row:not(:last-child), .widget-body .widget-row:not(:last-child), .widget-body .post-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }

.topic-body .post-row {
  background: #e8ecf1;
  margin-top: 0;
  padding-bottom: 0; }
  .topic-body .post-row:not(:last-child) {
    border-bottom: 1px solid #cad7e1; }
.topic-body .post-box {
  background: #fff;
  border-left: 1px solid #cad7e1;
  padding-bottom: 3em;
  padding-left: 0;
  padding-right: 0;
  min-height: 19em;
  position: relative; }
  .topic-body .post-box .post-meta {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #e8f1f2; }
  .topic-body .post-box .post-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em; }
  .topic-body .post-box .post-signature {
    margin-top: 2em; }
    .topic-body .post-box .post-signature hr {
      height: 1px;
      color: #e8f1f2;
      background-color: #e8f1f2;
      border: none;
      margin: 0;
      width: 25%; }
  .topic-body .post-box .post-footer {
    border-top: 1px solid #cad7e1;
    background-color: #fff;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute; }
    .topic-body .post-box .post-footer .post-menu {
      padding-left: 0; }
      .topic-body .post-box .post-footer .post-menu .inline-form {
        padding: 6px 12px; }

.author .author-name h4 {
  float: left;
  margin-bottom: 0; }
.author .author-title h5 {
  margin-top: 0;
  font-weight: 600;
  clear: both; }
.author .author-avatar {
  margin: 0.5em 0; }
  .author .author-avatar img {
    border-radius: 0.25em;
    height: auto;
    width: 8em; }
.author .author-online, .author .author-offline {
  margin-top: 0.75em;
  margin-left: 0.25em;
  float: left;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%; }
.author .author-online {
  background: #5cb85c; }
.author .author-offline {
  background: #555; }

.forum-panel {
  border: 1px solid #cad7e1; }
  .forum-panel .forum-head {
    background-color: #f5f5f5; }
  .forum-panel .forum-body {
    background-color: #fff; }
    .forum-panel .forum-body .forum-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
      .forum-panel .forum-body .forum-meta .topic-name, .forum-panel .forum-body .forum-meta .topic-stats, .forum-panel .forum-body .forum-meta .topic-last-post {
        font-weight: bold; }
    .forum-panel .forum-body .forum-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .forum-panel .forum-body .forum-row .topic-info {
      position: relative; }
      .forum-panel .forum-body .forum-row .topic-info .topic-status {
        float: left;
        font-size: 1.5em;
        padding-right: 0.5em; }
        .forum-panel .forum-body .forum-row .topic-info .topic-status .topic-locked {
          font-size: 1.5em; }
      .forum-panel .forum-body .forum-row .topic-info .topic-name {
        font-weight: bold; }
      .forum-panel .forum-body .forum-row .topic-info .topic-pages {
        font-size: small; }

.category-panel {
  border: 1px solid #cad7e1; }
  .category-panel .category-head {
    background-color: #f5f5f5; }
  .category-panel .category-body {
    background-color: #fff; }
    .category-panel .category-body .category-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
      .category-panel .category-body .category-meta .forum-name, .category-panel .category-body .category-meta .forum-stats, .category-panel .category-body .category-meta .forum-last-post {
        font-weight: bold; }
    .category-panel .category-body .category-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .category-panel .category-body .category-row .forum-info {
      position: relative; }
      .category-panel .category-body .category-row .forum-info .forum-status {
        float: left;
        font-size: 2em;
        padding-right: 0.5em; }
      .category-panel .category-body .category-row .forum-info .forum-name {
        font-weight: bold; }
      .category-panel .category-body .category-row .forum-info .forum-moderators {
        font-style: italic; }
    .category-panel .category-body .category-row .forum-last-post .last-post-title {
      font-weight: bold; }

.widget-panel {
  border: 1px solid #cad7e1; }
  .widget-panel .widgety-head {
    background-color: #f5f5f5; }
  .widget-panel .widget-body {
    background-color: #fff; }
    .widget-panel .widget-body .widget-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
    .widget-panel .widget-body .widget-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }

p.flaskbb-stats {
  margin: 0;
  padding: 0; }

.controls-row {
  padding: 0.5em 0;
  margin: 0; }
  .controls-row .pagination {
    padding: 0;
    margin: 0; }

.controls-col {
  margin: 0;
  padding: 0; }

.inline-form {
  display: inline;
  padding: 0; }

.inline-form .btn-icon {
  padding: 0; }

.btn-icon {
  font-family: 'FontAwesome';
  font-size: 1.15em;
  line-height: 1.50em;
  font-weight: normal;
  background: none;
  border-radius: 0; }

.icon-delete:before {
  content: "\f014";
  color: #d9534f; }

.icon-report:before {
  content: "\f024";
  color: #f0ad4e; }

.icon-edit:before {
  content: "\f040";
  color: #5cb85c; }

.icon-reply:before {
  content: "\f10e";
  color: #337ab7; }

.icon-replyall:before {
  content: "\f122";
  color: #5bc0de; }

.dropdown-messages {
  min-width: 15em; }
  .dropdown-messages .message-subject {
    font-style: italic; }
  .dropdown-messages .author-name {
    font-weight: bold; }

/* Markdown Editor */
.editor-box .editor-submit .btn {
  margin: 0.75em 0.25em 0 0; }

.editor {
  padding: 0;
  min-height: 0; }
  .editor .editor-options {
    margin-top: 0.5em; }
  .editor .new-message {
    background: #fff;
    border: 0;
    height: 12em;
    outline: none;
    width: 100%; }

.editor > .md-editor.active {
  border-color: none;
  box-shadow: none; }
.editor > .md-editor > .md-footer, .editor > .md-editor > .md-header {
  background: #F6F9FC; }
.editor > .md-editor > textarea {
  border-top: 1px solid #cad7e1;
  border-bottom: none;
  background: #fff;
  padding-left: 3px; }
.editor > .md-editor > .md-preview {
  border-top: 1px solid #cad7e1;
  border-right: 1px solid #cad7e1;
  border-bottom: none;
  background: #eee; }

.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=flaskbb.css.map */
