html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #e8f1f2;
  margin-bottom: 60px; }

.flaskbb-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 1em; }

.flaskbb-layout {
  padding-top: 20px;
  color: #5a5a5a; }

.flaskbb-header {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #0088cc;
  background-image: -webkit-linear-gradient(top, #285e8e 0%, #0088cc 100%);
  background-image: linear-gradient(to bottom, #285e8e 0%, #0088cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-background-secondary', endColorstr='$header-background-primary', GradientType=0);
  border: 1px solid #cad7e1;
  border-bottom: 0;
  border-radius: 0.25em 0.25em 0 0;
  position: relative;
  height: 12em;
  padding: 2.5em 2em;
  margin-top: 2.5em; }
  .flaskbb-header .flaskbb-meta .flaskbb-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold; }
  .flaskbb-header .flaskbb-meta .flaskbb-subtitle {
    color: #E8F1F2; }

.forum-navigation {
  border: 1px solid #cad7e1;
  border-radius: 0 0 0.25em 0.25em;
  background-color: #f8f8f8; }
  .forum-navigation .navbar-btn > a.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
  .forum-navigation .navbar-btn > a.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  .forum-navigation .navbar-btn > a.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .forum-navigation .navbar-nav .user-btn {
    padding-right: 2em;
    padding-left: 1em; }
  .forum-navigation .navbar-nav > li > a:hover, .forum-navigation .navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #e7e7e7; }

.flaskbb-breadcrumb {
  border: 1px solid #cad7e1;
  border-radius: 0; }

.category-panel, .forum-panel, .topic-panel, .page-panel, .conversation-panel, .management-panel {
  border: 1px solid #cad7e1;
  border-radius: 0; }
  .category-panel .category-head, .category-panel .forum-head, .category-panel .topic-head, .category-panel .page-head, .category-panel .conversation-head, .category-panel .management-head, .forum-panel .category-head, .forum-panel .forum-head, .forum-panel .topic-head, .forum-panel .page-head, .forum-panel .conversation-head, .forum-panel .management-head, .topic-panel .category-head, .topic-panel .forum-head, .topic-panel .topic-head, .topic-panel .page-head, .topic-panel .conversation-head, .topic-panel .management-head, .page-panel .category-head, .page-panel .forum-head, .page-panel .topic-head, .page-panel .page-head, .page-panel .conversation-head, .page-panel .management-head, .conversation-panel .category-head, .conversation-panel .forum-head, .conversation-panel .topic-head, .conversation-panel .page-head, .conversation-panel .conversation-head, .conversation-panel .management-head, .management-panel .category-head, .management-panel .forum-head, .management-panel .topic-head, .management-panel .page-head, .management-panel .conversation-head, .management-panel .management-head {
    background-color: #f5f5f5;
    font-weight: bold; }
  .category-panel > .panel-heading, .forum-panel > .panel-heading, .topic-panel > .panel-heading, .page-panel > .panel-heading, .conversation-panel > .panel-heading, .management-panel > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #cad7e1; }
  .category-panel > .panel-heading + .panel-collapse > .panel-body, .forum-panel > .panel-heading + .panel-collapse > .panel-body, .topic-panel > .panel-heading + .panel-collapse > .panel-body, .page-panel > .panel-heading + .panel-collapse > .panel-body, .conversation-panel > .panel-heading + .panel-collapse > .panel-body, .management-panel > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #cad7e1; }
  .category-panel > .panel-heading .badge, .forum-panel > .panel-heading .badge, .topic-panel > .panel-heading .badge, .page-panel > .panel-heading .badge, .conversation-panel > .panel-heading .badge, .management-panel > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333; }
  .category-panel > .panel-footer + .panel-collapse > .panel-body, .forum-panel > .panel-footer + .panel-collapse > .panel-body, .topic-panel > .panel-footer + .panel-collapse > .panel-body, .page-panel > .panel-footer + .panel-collapse > .panel-body, .conversation-panel > .panel-footer + .panel-collapse > .panel-body, .management-panel > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #cad7e1; }

.category-body, .forum-body, .topic-body, .page-body, .conversation-body {
  padding: 0;
  background-color: #fff; }
  .category-body .category-meta, .category-body .forum-meta, .category-body .topic-meta, .category-body .page-meta, .forum-body .category-meta, .forum-body .forum-meta, .forum-body .topic-meta, .forum-body .page-meta, .topic-body .category-meta, .topic-body .forum-meta, .topic-body .topic-meta, .topic-body .page-meta, .page-body .category-meta, .page-body .forum-meta, .page-body .topic-meta, .page-body .page-meta, .conversation-body .category-meta, .conversation-body .forum-meta, .conversation-body .topic-meta, .conversation-body .page-meta {
    font-weight: bold;
    padding-top: 0.5em;
    height: 2.5em;
    background-color: #e8f1f2;
    border-bottom: 1px solid #cad7e1; }
  .category-body .category-row, .category-body .forum-row, .category-body .topic-row, .category-body .page-row, .category-body .post-row, .category-body .conversation-row, .forum-body .category-row, .forum-body .forum-row, .forum-body .topic-row, .forum-body .page-row, .forum-body .post-row, .forum-body .conversation-row, .topic-body .category-row, .topic-body .forum-row, .topic-body .topic-row, .topic-body .page-row, .topic-body .post-row, .topic-body .conversation-row, .page-body .category-row, .page-body .forum-row, .page-body .topic-row, .page-body .page-row, .page-body .post-row, .page-body .conversation-row, .conversation-body .category-row, .conversation-body .forum-row, .conversation-body .topic-row, .conversation-body .page-row, .conversation-body .post-row, .conversation-body .conversation-row {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .category-body .category-row:not(:last-child), .category-body .forum-row:not(:last-child), .category-body .topic-row:not(:last-child), .category-body .page-row:not(:last-child), .category-body .post-row:not(:last-child), .category-body .conversation-row:not(:last-child), .forum-body .category-row:not(:last-child), .forum-body .forum-row:not(:last-child), .forum-body .topic-row:not(:last-child), .forum-body .page-row:not(:last-child), .forum-body .post-row:not(:last-child), .forum-body .conversation-row:not(:last-child), .topic-body .category-row:not(:last-child), .topic-body .forum-row:not(:last-child), .topic-body .topic-row:not(:last-child), .topic-body .page-row:not(:last-child), .topic-body .post-row:not(:last-child), .topic-body .conversation-row:not(:last-child), .page-body .category-row:not(:last-child), .page-body .forum-row:not(:last-child), .page-body .topic-row:not(:last-child), .page-body .page-row:not(:last-child), .page-body .post-row:not(:last-child), .page-body .conversation-row:not(:last-child), .conversation-body .category-row:not(:last-child), .conversation-body .forum-row:not(:last-child), .conversation-body .topic-row:not(:last-child), .conversation-body .page-row:not(:last-child), .conversation-body .post-row:not(:last-child), .conversation-body .conversation-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .category-body .category-row.hover:hover, .category-body .forum-row.hover:hover, .category-body .topic-row.hover:hover, .category-body .page-row.hover:hover, .category-body .post-row.hover:hover, .category-body .conversation-row.hover:hover, .forum-body .category-row.hover:hover, .forum-body .forum-row.hover:hover, .forum-body .topic-row.hover:hover, .forum-body .page-row.hover:hover, .forum-body .post-row.hover:hover, .forum-body .conversation-row.hover:hover, .topic-body .category-row.hover:hover, .topic-body .forum-row.hover:hover, .topic-body .topic-row.hover:hover, .topic-body .page-row.hover:hover, .topic-body .post-row.hover:hover, .topic-body .conversation-row.hover:hover, .page-body .category-row.hover:hover, .page-body .forum-row.hover:hover, .page-body .topic-row.hover:hover, .page-body .page-row.hover:hover, .page-body .post-row.hover:hover, .page-body .conversation-row.hover:hover, .conversation-body .category-row.hover:hover, .conversation-body .forum-row.hover:hover, .conversation-body .topic-row.hover:hover, .conversation-body .page-row.hover:hover, .conversation-body .post-row.hover:hover, .conversation-body .conversation-row.hover:hover {
      background-color: #f8f8f8; }

.topic-panel {
  margin-bottom: 0; }

.topic-body .post-row {
  background: #e8ecf1;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0; }
  .topic-body .post-row:not(:last-child) {
    border-bottom: 1px solid #cad7e1; }
.topic-body .post-box {
  background: #fff;
  border-left: 1px solid #cad7e1;
  padding-bottom: 3em;
  padding-left: 0;
  padding-right: 0;
  min-height: 19em;
  position: relative; }
  .topic-body .post-box.post-horizontal {
    border-left: none;
    min-height: 14em; }
  .topic-body .post-box .post-meta {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #e8f1f2; }
  .topic-body .post-box .post-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em; }
    .topic-body .post-box .post-content img {
      max-width: 100%;
      max-height: 100%; }
  .topic-body .post-box .post-signature {
    margin-top: 2em; }
    .topic-body .post-box .post-signature hr {
      height: 1px;
      color: #e8f1f2;
      background-color: #e8f1f2;
      border: none;
      margin: 0;
      width: 25%; }
  .topic-body .post-box .post-footer {
    border-top: 1px solid #cad7e1;
    background-color: #fff;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute; }
    .topic-body .post-box .post-footer .post-menu {
      padding-left: 0; }
      .topic-body .post-box .post-footer .post-menu .inline-form {
        padding: 6px 12px; }

.author.author-horizontal {
  min-height: 9em;
  border-bottom: 1px solid #cad7e1; }
  .author.author-horizontal .author-box {
    float: left;
    margin-top: 0.5em; }
    .author.author-horizontal .author-box .author-avatar {
      margin-top: 0em;
      margin-right: 1em; }
    .author.author-horizontal .author-box .author-online, .author.author-horizontal .author-box .author-offline {
      margin-top: 0.5em; }
    .author.author-horizontal .author-box .author-name {
      margin-top: -0.5em; }
.author .author-name h4 {
  float: left;
  margin-bottom: 0; }
.author .author-title h5 {
  margin-top: 0;
  font-weight: 600;
  clear: both; }
.author .author-avatar {
  margin: 0.5em 0; }
  .author .author-avatar img {
    border-radius: 0.25em;
    height: auto;
    width: 8em; }
.author .author-online, .author .author-offline {
  margin-top: 0.75em;
  margin-left: 0.25em;
  float: left;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%; }
.author .author-online {
  background: #5cb85c; }
.author .author-offline {
  background: #555; }

.forum-panel {
  border: 1px solid #cad7e1;
  margin-bottom: 0; }
  .forum-panel .forum-head {
    background-color: #f5f5f5; }
  .forum-panel .forum-body {
    background-color: #fff; }
    .forum-panel .forum-body .forum-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
      .forum-panel .forum-body .forum-meta .topic-name, .forum-panel .forum-body .forum-meta .topic-stats, .forum-panel .forum-body .forum-meta .topic-last-post {
        font-weight: bold; }
    .forum-panel .forum-body .forum-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .forum-panel .forum-body .forum-row .topic-info {
      position: relative; }
      .forum-panel .forum-body .forum-row .topic-info .topic-status {
        float: left;
        font-size: 1.5em;
        padding-right: 0.5em; }
        .forum-panel .forum-body .forum-row .topic-info .topic-status .topic-locked {
          font-size: 1.5em; }
      .forum-panel .forum-body .forum-row .topic-info .topic-name {
        font-weight: bold; }
      .forum-panel .forum-body .forum-row .topic-info .topic-pages {
        font-weight: normal;
        font-size: small; }

.category-panel {
  border: 1px solid #cad7e1; }
  .category-panel .category-head {
    background-color: #f5f5f5; }
  .category-panel .category-body {
    background-color: #fff; }
    .category-panel .category-body .category-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
      .category-panel .category-body .category-meta .forum-name, .category-panel .category-body .category-meta .forum-stats, .category-panel .category-body .category-meta .forum-last-post {
        font-weight: bold; }
    .category-panel .category-body .category-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .category-panel .category-body .category-row .forum-info {
      position: relative; }
      .category-panel .category-body .category-row .forum-info .forum-status {
        float: left;
        font-size: 2em;
        padding-right: 0.5em; }
      .category-panel .category-body .category-row .forum-info .forum-name {
        font-weight: bold; }
      .category-panel .category-body .category-row .forum-info .forum-moderators {
        font-style: italic; }
    .category-panel .category-body .category-row .forum-last-post .last-post-title {
      font-weight: bold; }

.page-panel {
  border: 1px solid #cad7e1; }
  .page-panel .page-head {
    background-color: #f5f5f5; }
  .page-panel .page-body {
    background-color: #fff; }
    .page-panel .page-body .page-meta {
      background-color: #e8f1f2;
      border-bottom: 1px solid #cad7e1; }
    .page-panel .page-body .row > .page-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
    .page-panel .page-body > :not(.page-meta) {
      padding-top: 0.5em; }

.conversation-panel {
  border: 1px solid #cad7e1;
  margin-bottom: 0; }
  .conversation-panel .conversation-head {
    background-color: #f5f5f5; }
  .conversation-panel .conversation-body {
    background-color: #fff; }
    .conversation-panel .conversation-body .row > .conversation-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }
  .conversation-panel .conversation-message {
    min-height: 16em;
    padding: 0.5em;
    border: 1px solid #cad7e1;
    border-radius: 5px; }
    .conversation-panel .conversation-message .message-content {
      padding-top: 0.5em; }
    .conversation-panel .conversation-message .message-footer {
      width: 100%;
      bottom: 0;
      position: absolute; }
      .conversation-panel .conversation-message .message-footer .right {
        margin-right: 46px;
        float: right; }
      .conversation-panel .conversation-message .message-footer .left {
        float: left; }
  @media (min-width: 992px) {
    .conversation-panel .arrow:after, .conversation-panel .arrow:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent; }
    .conversation-panel .arrow.left:after, .conversation-panel .arrow.left:before {
      border-left: 0; }
    .conversation-panel .arrow.left:before {
      left: 0px;
      top: 40px;
      border-right-color: inherit;
      border-width: 16px; }
    .conversation-panel .arrow.left:after {
      left: 1px;
      top: 41px;
      border-right-color: #FFFFFF;
      border-width: 15px; }
    .conversation-panel .arrow.right:before {
      right: -16px;
      top: 40px;
      border-left-color: inherit;
      border-width: 16px; }
    .conversation-panel .arrow.right:after {
      right: -14px;
      top: 41px;
      border-left-color: #FFFFFF;
      border-width: 15px; } }

.conversation-reply {
  padding-top: 2em; }

.management-panel .search-form {
  display: none;
  padding: 15px; }
.management-panel .management-head {
  border-radius: 0;
  background-color: #337ab7; }
.management-panel .management-body {
  border-radius: 0;
  padding: 0; }
  .management-panel .management-body .panel.settings-panel {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-left: 1px solid #cad7e1; }
    .management-panel .management-body .panel.settings-panel .settings-head {
      border-radius: 0;
      background-color: #f8f8f8;
      border-bottom: 1px solid #cad7e1; }
    .management-panel .management-body .panel.settings-panel .settings-body {
      padding: 0px;
      padding-top: 10px; }
      .management-panel .management-body .panel.settings-panel .settings-body .settings-search {
        margin-top: -10px; }
    .management-panel .management-body .panel.settings-panel .settings-footer {
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 0px; }
      .management-panel .management-body .panel.settings-panel .settings-footer .pagination {
        margin: 0; }

p.flaskbb-stats {
  margin: 0;
  padding: 0; }

.controls-row {
  padding: 0.5em 0;
  margin: 0; }
  .controls-row .pagination {
    padding: 0;
    margin: 0; }

.controls-col {
  margin: 0;
  padding: 0; }

.settings-col {
  padding: 0; }

.inline-form {
  display: inline;
  padding: 0; }

.inline-form .btn-icon {
  padding: 0; }

.btn-icon {
  font-family: 'FontAwesome';
  font-size: 1.15em;
  line-height: 1.50em;
  font-weight: normal;
  background: none;
  border-radius: 0; }

.icon-delete:before {
  content: "\f014";
  color: #d9534f; }

.icon-report:before {
  content: "\f024";
  color: #f0ad4e; }

.icon-edit:before {
  content: "\f040";
  color: #5cb85c; }

.icon-reply:before {
  content: "\f10e";
  color: #337ab7; }

.icon-replyall:before {
  content: "\f122";
  color: #5bc0de; }

.dropdown-messages {
  min-width: 15em; }
  .dropdown-messages .message-subject {
    font-style: italic; }
  .dropdown-messages .author-name {
    font-weight: bold; }

.dropdown-menu > li .btn-link {
  display: block;
  padding: 3px 20px;
  width: 100%;
  text-align: left;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }
  .dropdown-menu > li .btn-link:hover, .dropdown-menu > li .btn-link:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5; }
.dropdown-menu > .active .btn-link, .dropdown-menu > .active .btn-link:hover, .dropdown-menu > .active .btn-link:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0; }
.dropdown-menu > .disabled .btn-link, .dropdown-menu > .disabled .btn-link:hover, .dropdown-menu > .disabled .btn-link:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

/* Sidebar Nav */
.sidebar {
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: none;
  background-color: #f8f8f8;
  border: 1px solid #cad7e1; }
  .sidebar .sidenav-header {
    display: block;
    padding-left: 1.25em;
    padding-bottom: 1em;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-transform: uppercase; }
  .sidebar .sidenav-btn {
    padding-bottom: 1em;
    text-transform: uppercase;
    text-align: center; }
  .sidebar .nav > li > a {
    display: block; }
  .sidebar .nav > li > a:hover,
  .sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e7e7e7; }
  .sidebar .nav > .active > a,
  .sidebar .nav > .active:hover > a,
  .sidebar .nav > .active:focus > a {
    font-weight: normal;
    color: #777;
    background-color: #e7e7e7; }

.nav-sidebar {
  width: 100%;
  padding: 0; }
  .nav-sidebar a {
    color: #555;
    border-radius: 0; }
  .nav-sidebar .active a {
    cursor: default;
    background-color: #f8f8f8;
    color: #555; }
  .nav-sidebar li.active {
    border-top: 1px solid #cad7e1;
    border-bottom: 1px solid #cad7e1; }
    .nav-sidebar li.active:first-child {
      border-top: none; }
  .nav-sidebar .active a:hover {
    background-color: #f8f8f8; }

/* Panel tabs */
.panel.panel-tabs > .panel-heading {
  padding: 0;
  font-weight: 500; }
.panel.panel-tabs .nav-tabs {
  border-bottom: none; }
.panel.panel-tabs .nav-justified {
  margin-bottom: -1px; }

.panel-tabs .nav-tabs.nav-justified > li > a {
  border-radius: 0;
  border-top: none;
  border-bottom: 1px solid #cad7e1; }
.panel-tabs .nav-tabs > li > a {
  color: #E8F1F2; }
  .panel-tabs .nav-tabs > li > a:hover, .panel-tabs .nav-tabs > li > a:focus {
    background-color: #0088cc;
    border-color: transparent;
    border-top: none;
    border-bottom: 1px solid #cad7e1; }
.panel-tabs .nav-tabs > li.active > a, .panel-tabs .nav-tabs > li.active a:hover, .panel-tabs .nav-tabs > li.active a:focus {
  color: #fff;
  background-color: #0088cc;
  border-color: #cad7e1;
  border-bottom-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cad7e1; }

/* Markdown Editor */
.editor-box .editor-submit .btn {
  margin: 0.75em 0.25em 0 0; }

.editor-box > .quickreply {
  padding: 0; }

.editor {
  min-height: 0; }
  .editor .editor-options {
    margin-top: 0.5em; }
  .editor .new-message {
    background: #fff;
    border: 0;
    height: 12em;
    outline: none;
    width: 100%; }

.editor > .md-editor.active {
  border-color: none;
  box-shadow: none; }
.editor > .md-editor > .md-footer, .editor > .md-editor > .md-header {
  background: #f8f8f8; }
.editor > .md-editor > textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  border-top: 1px solid #cad7e1;
  border-bottom: none;
  background: #fff;
  padding: 0 0.25em; }
.editor > .md-editor > .md-preview {
  border-top: 1px solid #cad7e1;
  border-right: 1px solid #cad7e1;
  border-bottom: none;
  padding: 0 0.25em;
  background: #eee; }

.emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=flaskbb.css.map */
