html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #E8F1F2;
  margin-bottom: 60px; }

.flaskbb-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: inherit; }

.flaskbb-layout {
  padding-top: 20px;
  color: #5a5a5a; }

.flaskbb-header {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #3276b1;
  background-image: -webkit-linear-gradient(top, #285e8e 0%, #3276b1 100%);
  background-image: linear-gradient(to bottom, #285e8e 0%, #3276b1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#285e8e', endColorstr='#3276b1', GradientType=0);
  border: 1px solid #cad7e1;
  border-bottom: 0;
  border-radius: 0.25em 0.25em 0 0;
  position: relative;
  height: 12em;
  padding: 2.5em 2em;
  margin-top: 2.5em; }
  .flaskbb-header .flaskbb-meta .flaskbb-title {
    color: #fff;
    font-size: 3em;
    font-weight: bold; }
  .flaskbb-header .flaskbb-meta .flaskbb-subtitle {
    color: #e8ecf1; }

.forum-navigation {
  border: 1px solid #cad7e1;
  border-radius: 0 0 0.25em 0.25em; }
  .forum-navigation .navbar-nav .user-btn {
    padding-right: 2em;
    padding-left: 1em; }
  .forum-navigation .navbar-nav > li > a:hover, .forum-navigation .navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #e7e7e7; }

.flaskbb-breadcrumb {
  border: 1px solid #cad7e1;
  border-radius: 0; }

.index-view .forum-row, .index-view .category-row, .forum-view .forum-row, .forum-view .category-row {
  margin: 0; }

.category-panel, .forum-panel, .topic-panel, .widget-panel {
  border: 1px solid #cad7e1;
  border-radius: 0; }
  .category-panel .category-head, .category-panel .forum-head, .category-panel .topic-head, .category-panel .widget-head, .forum-panel .category-head, .forum-panel .forum-head, .forum-panel .topic-head, .forum-panel .widget-head, .topic-panel .category-head, .topic-panel .forum-head, .topic-panel .topic-head, .topic-panel .widget-head, .widget-panel .category-head, .widget-panel .forum-head, .widget-panel .topic-head, .widget-panel .widget-head {
    font-weight: bold; }

.category-body, .forum-body, .topic-body, .widget-body {
  padding: 0; }
  .category-body .category-meta, .category-body .forum-meta, .category-body .topic-meta, .category-body .widget-meta, .forum-body .category-meta, .forum-body .forum-meta, .forum-body .topic-meta, .forum-body .widget-meta, .topic-body .category-meta, .topic-body .forum-meta, .topic-body .topic-meta, .topic-body .widget-meta, .widget-body .category-meta, .widget-body .forum-meta, .widget-body .topic-meta, .widget-body .widget-meta {
    padding-top: 0.5em;
    height: 2.5em;
    background-color: #e8ecf1;
    border-bottom: 1px solid #cad7e1; }
  .category-body .category-row, .category-body .forum-row, .category-body .topic-row, .category-body .widget-row, .forum-body .category-row, .forum-body .forum-row, .forum-body .topic-row, .forum-body .widget-row, .topic-body .category-row, .topic-body .forum-row, .topic-body .topic-row, .topic-body .widget-row, .widget-body .category-row, .widget-body .forum-row, .widget-body .topic-row, .widget-body .widget-row {
    margin-top: 1em;
    padding-bottom: 1em; }
    .category-body .category-row:not(:last-child), .category-body .forum-row:not(:last-child), .category-body .topic-row:not(:last-child), .category-body .widget-row:not(:last-child), .forum-body .category-row:not(:last-child), .forum-body .forum-row:not(:last-child), .forum-body .topic-row:not(:last-child), .forum-body .widget-row:not(:last-child), .topic-body .category-row:not(:last-child), .topic-body .forum-row:not(:last-child), .topic-body .topic-row:not(:last-child), .topic-body .widget-row:not(:last-child), .widget-body .category-row:not(:last-child), .widget-body .forum-row:not(:last-child), .widget-body .topic-row:not(:last-child), .widget-body .widget-row:not(:last-child) {
      border-bottom: 1px solid #cad7e1; }

.forum-body .forum-meta .topic-name, .forum-body .forum-meta .topic-stats, .forum-body .forum-meta .topic-last-post {
  font-weight: bold; }
.forum-body .forum-row .topic-info {
  position: relative; }
  .forum-body .forum-row .topic-info .topic-status {
    float: left;
    font-size: 1em;
    padding-right: 0.75em; }
  .forum-body .forum-row .topic-info .topic-name {
    font-weight: bold; }
  .forum-body .forum-row .topic-info .topic-pages {
    font-size: small; }

.category-body .category-meta .forum-name, .category-body .category-meta .forum-stats, .category-body .category-meta .forum-last-post {
  font-weight: bold; }
.category-body .category-row .forum-info {
  position: relative; }
  .category-body .category-row .forum-info .forum-status {
    float: left;
    font-size: 2em;
    padding-right: 0.5em; }
  .category-body .category-row .forum-info .forum-name {
    font-weight: bold; }
  .category-body .category-row .forum-info .forum-moderators {
    font-style: italic; }
.category-body .category-row .forum-last-post .last-post-title {
  font-weight: bold; }

p.flaskbb-stats {
  margin: 0;
  padding: 0; }

.controls-row {
  padding: 1em 0;
  margin: 0; }
  .controls-row .pagination {
    padding: 0;
    margin: 0; }

.inline-form {
  display: inline;
  padding: 0px; }

.inline-form .btn-link {
  padding: 0px; }

.dropdown-messages {
  min-width: 15em; }
  .dropdown-messages .message-subject {
    font-style: italic; }
  .dropdown-messages .author-name {
    font-weight: bold; }

.post-quickreply {
  padding: 0;
  min-height: 0; }

.post-quickreply > .md-editor.active {
  border-color: none;
  box-shadow: none; }

.post-quickreply > .md-editor .md-footer, .md-editor > .md-header {
  background: #F6F9FC; }

.post-quickreply > .md-editor > textarea {
  border-top: 1px solid #cad7e1;
  border-bottom: none;
  background: #fff;
  padding-left: 3px; }

.post-quickreply > .md-editor > .md-preview {
  border-top: 1px solid #cad7e1;
  border-right: 1px solid #cad7e1;
  border-bottom: none;
  background: #eee; }

/*# sourceMappingURL=flaskbb.css.map */
