{% set page_title = _("Forgot Password") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("_macros/form.html") import horizontal_field %}

<div class="card page">
    <div class="card-header page-header">
        {% trans %}Forgot Password{% endtrans %}
    </div>

    <div class="card-body page-header">
        <form role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.email) }}

            {% if flaskbb_config["RECAPTCHA_ENABLED"] %}
                {{ horizontal_field(form.recaptcha) }}
            {% endif %}

            {{ horizontal_field(form.submit, div_class="offset-3 col-4")}}
        </form>
    </div>
</div>

{% endblock %}
