{% set page_title = "Reset Password" %}

{% extends "layout.html" %}
{% block content %}
{% import "macros.html" as wtf %}

<form class="form-horizontal" role="form" method="POST">
    <h2>Reset Password</h2>
    <hr>
        {{ form.hidden_tag() }}
        {{ wtf.horizontal_field(form.email) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</form>

{% endblock %}
