{% set page_title = _("Reset Password") %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("macros.html") import horizontal_field %}

<form class="form-horizontal" role="form" method="POST">
    <h2>{% trans %}Reset Password{% endtrans %}</h2>
    <hr>
        {{ form.hidden_tag() }}
        {{ horizontal_field(form.email) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">{% trans %}Reset Password{% endtrans %}</button>
        </div>
    </div>
</form>

{% endblock %}
