{% set page_title = _("Login") %}

{% extends theme("layout.html") %}
{% from theme("macros.html") import horizontal_field %}
{% block content %}

<form class="form-horizontal" role="form" method="POST">
    <h2>{% trans %}Login{% endtrans %}</h2>
    <hr>
    {{ form.hidden_tag() }}
    {{ horizontal_field(form.login)}}
    {{ horizontal_field(form.password)}}
    {{ horizontal_field(form.remember_me) }}
    {{ horizontal_field(form.submit) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <a class="pull-left" href="{{ url_for('auth.register') }}"><small>{% trans %}Not a member yet?{% endtrans %}</small></a>
            <a class="pull-right" href="{{ url_for('auth.forgot_password') }}"><small>{% trans %}Forgot Password?{% endtrans %}</small></a>
        </div>
    </div>
</form>

{% endblock %}
