{% set page_title = _("Refresh Login") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("macros.html") import form_input_field %}

<form class="form-signin" action="" method="POST">
    <h2 class="form-signin-heading">{% trans %}Refresh Login{% endtrans %}</h2>
    {{ form.hidden_tag() }}
    {{ form_input_field(form.password)}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Sign in{% endtrans %}</button>
</form>

{% endblock %}
