{% set page_title = _("Register") %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("macros.html") import horizontal_field %}

<form class="form-horizontal" role="form" method="POST">
    <h2>{% trans %}Register{% endtrans %}</h2>
    <hr>
    {{ form.hidden_tag() }}
    {{ horizontal_field(form.username)}}
    {{ horizontal_field(form.email)}}
    {{ horizontal_field(form.password)}}
    {{ horizontal_field(form.confirm_password)}}

    {% if config["RECAPTCHA_ENABLED"] %}
        {{ horizontal_field(form.recaptcha) }}
    {% endif %}

    {{ horizontal_field(form.language) }}


    {{ horizontal_field(form.accept_tos)}}
    {{ horizontal_field(form.submit)}}

</form>

{% endblock %}
