{% set page_title = _("Register") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("_macros/form.html") import horizontal_field %}

<div class="card page">
    <div class="card-header page-header">
        {% trans %}Register{% endtrans %}
    </div>

    <div class="card-body page-body">
        <form role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ run_hook('flaskbb_tpl_form_registration_before', form=form) }}
            {{ horizontal_field(form.username)}}
            {{ horizontal_field(form.email)}}
            {{ horizontal_field(form.password)}}
            {{ horizontal_field(form.confirm_password)}}

            {% if flaskbb_config["RECAPTCHA_ENABLED"] %}
                {{ horizontal_field(form.recaptcha) }}
            {% endif %}

            {{ horizontal_field(form.language) }}
            {{ horizontal_field(form.accept_tos, div_class="offset-3 col-4")}}
            {{ run_hook('flaskbb_tpl_form_registration_after', form=form) }}
            {{ horizontal_field(form.submit, div_class="offset-3 col-4")}}
        </form>
    </div>
</div>

{% endblock %}
