{% set page_title = _("Request Account Activation") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme("_macros/form.html") import horizontal_field %}

<div class="card page">
    <div class="card-header page-header">
        {% trans %}Request Account Activation{% endtrans %}
    </div>

    <div class="card-body page-body">
        <form role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.username) }}
            {{ horizontal_field(form.email) }}
            {{ horizontal_field(form.submit, div_class="offset-3 col-4")}}
        </form>
    </div>
</div>

{% endblock %}
