{% set page_title = _("Memberlist") %}

{% extends theme("layout.html") %}
{% block content %}
{% from theme('macros.html') import render_pagination, group_field %}

<ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
    <li class="active">{% trans %}Memberlist{% endtrans %}</li>
</ol>

<div class="row controls-row">
    <div class="col-md-8 col-sm-8 col-xs-8 controls-col">
        <div class="pull-left">
            {{ render_pagination(users, url_for('forum.memberlist')) }}
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 controls-col">
        <div class="pull-right">
          <form class="inline-form" role="form" method="post">
              <div class="input-group">
                  {{ search_form.hidden_tag() }}
                  {{ group_field(search_form.search_query) }}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">{% trans %}Search{% endtrans %}</button>
                  </span>
              </div>
          </form>
        </div>
    </div>
</div>

<div class="page-view">
    <div class="panel panel-default page-panel">
        <div class="panel-heading page-head">
            <a href="{{ url_for('forum.memberlist') }}">{% trans %}Memberlist{% endtrans %}</a>
        </div>
        <div class="panel-body page-body">
            <div class="page-meta">
                <div class="col-md-1 col-sm-1 col-xs-1 meta-item">#</div>
                <div class="col-md-3 col-sm-3 col-xs-5 meta-item">{% trans %}Username{% endtrans %}</div>
                <div class="col-md-2 col-sm-2 hidden-xs meta-item">{% trans %}Posts{% endtrans %}</div>
                <div class="col-md-3 col-sm-3 hidden-xs meta-item">{% trans %}Date registered{% endtrans %}</div>
                <div class="col-md-3 col-sm-3 col-xs-5 meta-item">{% trans %}Group{% endtrans %}</div>
            </div>
            {% for user in users.items %}
            <div class="row page-row hover clearfix">
                <div class="col-md-1 col-sm-1 col-xs-1">{{ user.id }}</div>
                <div class="col-md-3 col-sm-3 col-xs-5"><a href="{{ user.url }}">{{ user.username }}</a></div>
                <div class="col-md-2 col-sm-2 hidden-xs">{{ user.post_count }}</div>
                <div class="col-md-3 col-sm-3 hidden-xs">{{ user.date_joined|format_date('%b %d %Y') }}</div>
                <div class="col-md-3 col-sm-3 col-xs-5">{{ user.primary_group.name }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
