{% set page_title = _("New Post") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}

{% block content %}
{% from theme("macros.html") import render_quickreply, render_submit_field %}

<div class="page-view">
    <ol class="breadcrumb flaskbb-breadcrumb">
        <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
        <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
        <li><a href="{{ topic.url }}">{{ topic.title }} </a></li>
        <li class="active">{% trans %}New Post{% endtrans %}</li>
    </ol>

    <form class="form-horizontal" role="form" method="post">
        {{ form.hidden_tag() }}
        <div class="panel panel-default page-panel">
            <div class="panel-heading page-head">
                {% trans %}New Post{% endtrans %}
            </div>

            <div class="panel-body page-body">
                {{ form.hidden_tag() }}
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="editor-box">
                                <div class="editor">
                                    {{ render_quickreply(form.content, div_class="new-message", rows=7, cols=75, placeholder="", **{'data-provide': 'markdown', 'data-autofocus': 'false', 'id': 'quickreply-editor'}) }}
                                </div>
                                <div class="editor-submit">
                                    <div class="editor-options pull-left">
                                        <span class="label label-info">Markdown</span>
                                        <a class="label label-success" href="#">help</a> <!-- TODO: add markdown cheat sheet -->
                                        <a class="label label-success" href="#">emojis</a> <!-- TODO: add emoji cheat sheet -->
                                    </div>
                                    {{ render_submit_field(form.submit, input_class="btn btn-success pull-right") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/marked.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
{% endblock %}
